<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>商品采购</title>
    <link href="../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <link href="../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css"
          data-th-href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../resource/css/settlements.css" rel="stylesheet" data-th-href="@{/resource/css/settlements.css}"
          type="text/css"/>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery-1.7.2.min.js"
            data-th-src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery.utils.js"
            data-th-src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            data-th-src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/admin.js"
            data-th-src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            data-th-src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/My97DatePicker/WdatePicker.js"
            data-th-src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
</head>
<body>
<!--/*@thymesVar id="goodsSearcher" type="com.huotu.agento2o.service.searchable.GoodsSearcher"*/-->
<form method="get" action="/huobanmall/returnOrder/showReturnedOrderList" data-th-action="@{/huobanmall/returnOrder/showReturnedOrderList}" id="form1"
      th:object="${searchCondition}">


    <div class="blank10">
    </div>
    <div class="search block" style="display: block;">
        <div class="h">
            <span class="icon-sprite icon-magnifier"></span>
            <h3>退货单列表</h3>
        </div>
        <div class="tl corner">
        </div>
        <div class="tr corner">
        </div>
        <div class="br corner">
        </div>
        <div class="cnt-wp" style="padding: 35px 10px 10px;">
            <div class="cnt">
                <div class="search-bar">
                    <div>
                        <label class="first">退货单号：</label><!--data-th-value="${goodsSearcher.goodsName}"-->
                        <input name="rOrderId" type="text" th:value="*{rOrderId}"  id="goodsName"
                               class="input-small" style="width: 120px;"/>
                        <br />
                        <br />

                        <label class="first ">审核状态：</label>
                        <select name="orderStatus" id="orderStatus">
                            <option selected="selected" value="-1" th:selected="*{orderStatus == -1}" >==所有==</option><!--th:selected="*{shipStatus == -1}"-->
                            <!--/*@thymesVar id="shipStatusEnums" type="com.huotu.hotsupplier.common.ienum.OrderEnum.ShipStatus"*/-->
                            <option th:each="orderStatusEnum:${orderStatusEnums}" th:value="${orderStatusEnum.code}" th:text="${orderStatusEnum.value}" th:selected="${orderStatusEnum.code == searchCondition.orderStatus}">未发货</option>
                        </select>

                        <label class="first ">退货状态：</label>
                        <select name="shipStatus" id="shipStatus">
                            <option selected="selected" value="-1" th:selected="*{shipStatus == -1}" >==所有==</option><!--th:selected="*{shipStatus == -1}"-->
                            <!--/*@thymesVar id="shipStatusEnums" type="com.huotu.hotsupplier.common.ienum.OrderEnum.ShipStatus"*/-->
                            <option th:each="shipStatusEnum:${shipStatusEnums}" th:value="${shipStatusEnum.code}" th:text="${shipStatusEnum.value}" th:selected="${shipStatusEnum.code == searchCondition.shipStatus}">未发货</option>
                        </select>

                        <label class="first ">退款状态：</label>
                        <select name="payStatus" id="payStatus">
                            <option selected="selected" value="-1" th:selected="*{payStatus == -1}">==所有==</option><!--th:selected="*{shipStatus == -1}"-->
                            <!--/*@thymesVar id="shipStatusEnums" type="com.huotu.hotsupplier.common.ienum.OrderEnum.ShipStatus"*/-->
                            <option th:each="payStatusEnum:${payStatusEnums}" th:value="${payStatusEnum.code}" th:text="${payStatusEnum.value}" th:selected="${payStatusEnum.code == searchCondition.payStatus}">未发货</option>
                        </select>

                        <br />
                        <br />

                        <label class="first ">申请时间：</label>
                        <input name="beginTime" type="text" id="beginTime" placeholder=" [开始日期]"
                               class="input-normal Wdate" th:value="*{beginTime}"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"/>---
                        <input name="endTime" type="text" id="endTime" placeholder=" [结束日期]"
                               class="input-normal Wdate" th:value="*{endTime}"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'beginTime\')}'})"/>

                        <label>
                            <a class="btn-lit btn-middle" onclick="searchReturnedOrder()" style="margin-bottom: 3px;">
                                <span>查询</span>
                            </a>
                        </label>
                        <label><a class="btn-lit btn-middle" id="searchAll" href="javascript:searchReturnOrderAll();"
                                  style="margin-bottom: 3px;"><span>显示全部</span></a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="block">

        <div class="cnt-wp" style="padding: 10px 10px 10px;display: block;">
            <div class="cnt">
                <table class="data-table even1" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr class="even">

                        <th scope="col">退单号
                        </th>
                        <th scope="col">代理商
                        </th>
                        <th scope="col">审核状态
                        </th>
                        <th scope="col">发货状态
                        </th>
                        <th scope="col">付款状态
                        </th>
                        <th scope="col">申请时间
                        </th>
                        <th scope="col">配送方式
                        </th>
                        <th scope="col">原因说明
                        </th>
                        <th scope="col">金额
                        </th>
                        <th scope="col">操作
                        </th>

                    </tr>
                    </thead>
                    <tbody data-th-remove="all-but-first">
                    <!--@thymesVar id="goodsList" type="java.util.List<com.huotu.agento2o.service.entity.goods.MallGoods>"-->
                    <tr data-th-each="agentReturnOrder,agentReturnOrderStat:${agentReturnedOrderList}" data-th-id="${agentReturnOrder.rOrderId}">

                        <td class="txt20 c">
                            <a th:onclick="|showReturnedOrderDetail('${agentReturnOrder.rOrderId}')|" onclick="showReturnedOrderDetail()">
                                <span th:text="${agentReturnOrder.rOrderId}">rOrderId</span>
                            </a>
                            <span th:if="${agentReturnOrder.Disabled}" style="color:red;">已关闭</span>
                        </td>
                        <td class="txt80 c" data-th-text="${agentReturnOrder.author.name}">
                            代理商
                        </td>
                        <td class="txt80 c" data-th-text="${agentReturnOrder.status.getValue()}" style="color:red;">
                            审核状态
                        </td>
                        <td class="txt80 c" data-th-text="${agentReturnOrder.shipStatus.getValue()}" style="color:red;">
                            发货状态
                        </td>
                        <td class="txt80 c" data-th-text="${agentReturnOrder.payStatus.getValue()}" style="color:red;">
                            付款状态
                        </td>
                        <td class="txt80 c" data-th-text="${#calendars.format(agentReturnOrder.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            申请时间
                        </td>
                        <td class="txt80 c" data-th-text="${agentReturnOrder.sendmentStatus.getValue()}">
                            物流快递
                        </td>
                        <td class="txt80 c" data-th-text="${agentReturnOrder.authorComment}">
                            1000
                        </td>
                        <td class="txt80 c">
                             ￥<span data-th-text="${agentReturnOrder.finalAmount}">100</span>
                        </td>
                        <td class="txt80 c">
                            <a href="javascript:void(0)" th:attr="rOrderId=''+${agentReturnOrder.rOrderId}" th:onclick="|showReturnedOrderDetail('${agentReturnOrder.rOrderId}')|" title="查看详细">查看详细</a>
                            <a th:if="${agentReturnOrder.checkable()}" href="javascript:void(0)" th:onclick="|checkReturnOrder('${agentReturnOrder.rOrderId}')|" onclick="checkReturnOrder()" title="审核"> | 审核</a>
                            <a th:if="${agentReturnOrder.receivable()}" href="javascript:void(0)" th:onclick="|receiveReturnOrder('${agentReturnOrder.rOrderId}')|" onclick="receiveReturnOrder()" title="确认收货"> | 确认收货</a>
                            <a th:if="${agentReturnOrder.payabled()}" href="javascript:void(0)" th:onclick="|payReturnOrder('${agentReturnOrder.rOrderId}')|" onclick="payReturnOrder()" title="支付"> | 支付</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--分页开始-->
            <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/
                var pageSize = /*[[${pageSize}]]*/ '-1';
                var pageIndex = /*[[${pageIndex}]]*/ '-1';
                var pageCount = /*[[${totalPages}]]*/ '-1';
                var recordCount = /*[[${totalRecords}]]*/ '-1';
                var formName = 'form1';
                Pager.Output(formName, 'pageIndex', pageSize, pageIndex, pageCount, recordCount);
                /*]]>*/
            </script>
            <!--分页结束-->
        </div>

        <p style="clear: both"></p>
    </div>
</form>

<!--审核对话框start-->
<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" role="dialog"
     aria-labelledby="ui-dialog-title-managerInfoDialog"
     style="display: none; z-index: 1014; outline: 0px; height: auto; width: auto; top: 180px; left: 379.5px;">
    <div id="checkDialog" style="width: auto; min-height: 49px; height: auto;"
         class="ui-dialog-content ui-widget-content" scrolltop="0" scrollleft="0">
        <div class="hua_card">
            <div style="width:300px">
                <ul>
                    <li style="text-align: center ; ">
                        <label>
                            <input type="radio" name="RadioGroup" value="1" id="RadioGroup1" style="
    vertical-align: text-top; text-align: center;
" onclick="javascript:change(1)"  checked="checked"/>
                            审核通过</label>
                        <label>
                            <input type="radio" name="RadioGroup" value="2" id="RadioGroup2" onclick="javascript:change(2)"  style="vertical-align: text-top;"/>
                            审核不通过</label>
                    </li>
                    <li style="display: none" id="comment">
                        <label>
                            审核说明<textarea  name="parentComment" id="parentComment"  style="width: 80%"></textarea>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                    role="button" aria-disabled="false"><span class="ui-button-text">确定</span></button>
            <button type="button"
                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-focus"
                    role="button" aria-disabled="false"><span class="ui-button-text">取消</span></button>
        </div>
    </div>
</div>
<!--审核对话框end-->

<script type="application/javascript" data-th-inline="javascript">
    /*<![CDATA[*/

    var basicUrl = /*[[@{/huobanmall/returnOrder}]]*/ "/huobanmall/returnOrder";

    function searchReturnedOrder() {

        $("#pageIndex").val(1);
        $('#form1').submit();
    }

    // 确认收货
    function receiveReturnOrder(rOrderId){
        $.jBox.confirm("请确认已收到退货？","提示",function(v){
            if(v == 'ok'){
                $.jBox.tip("确认收货...", "loading");
                $.ajax({
                    url:basicUrl+"/receiveReturnOrder",
                    type:"get",
                    data:{
                        rOrderId:rOrderId
                    },
                    dataType: "json",
                    success:function(result){
                        if(result.code == 200){
                            $.jBox.tip(result.msg, "success");
                            location.reload();
                        }else{
                            $.jBox.tip(result.msg, "error");
                        }
                    },
                    error: function () {
                        $.jBox.tip("发生错误", "error");
                    }
                });
            }
        });

    }

    // 支付
    function payReturnOrder(rOrderId){
        $.jBox.confirm("请确认已线下退款给退货方？","提示",function(v){
            if(v == 'ok'){
                $.jBox.tip("确认退款...", "loading");
                $.ajax({
                    url:basicUrl+"/payReturnOrder",
                    type:"get",
                    data:{
                        rOrderId:rOrderId
                    },
                    dataType: "json",
                    success:function(result){
                        if(result.code == 200){
                            $.jBox.tip(result.msg, "success");
                            location.reload();
                        }else{
                            $.jBox.tip(result.msg, "error");
                        }
                    },
                    error: function () {
                        $.jBox.tip("发生错误", "error");
                    }
                });
            }
        });

    }

    //审核采购单
    function checkReturnOrder(rOrderId){
        J.ShowDialog("checkDialog", "退货单审核", function () {
            var status = $("input[name='RadioGroup']:checked").val();
            var data = {
                'checkStatus':status,
                'rOrderId':rOrderId,
            };
            if(status == '2'){
                var comment = $.trim($("#parentComment").val());
                if(comment.length == 0){
                    $.jBox.tip("请输入审核说明！");
                    return;
                }
                data['parentComment'] = comment;
            }
            $.jBox.tip("正在保存...", "loading");
            $.ajax({
                type: "POST",
                url: basicUrl + "/checkAgentReturnOrder",
                data: data,
                dataType: "json",
                success: function (msg) {
                    if (msg.code == 200) {
                        $.jBox.tip("审核成功！","success");
                        setTimeout(function(){
                            window.location.reload();
                        },500)
                    } else {
                        $.jBox.tip(msg.msg, 'error');
                    }
                }
            });
        },function(){
            $(this).dialog('close');
        });
    }

    //审核状态单选框单击事件
    function change(type){
        if(type == 1){
            document.getElementById('comment').style.display='none';
        }else{
            document.getElementById('comment').style.display='';
        }
    }

    function searchReturnOrderAll(){
        window.location.href = /*[[@{/huobanmall/returnOrder/showReturnedOrderList}]]*/ "";
    }

    function showReturnedOrderDetail(rOrderId){
        window.location.href = basicUrl + "/showReturnedOrderDetail?rOrderId=" + rOrderId;
    }

    /*]]>*/
</script>
</body>
</html>