<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<!--/*@thymesVar id="order" type="com.huotu.agento2o.service.entity.order.MallOrder"*/-->
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
        发货单弹窗页面
    </title>
    <link href="../resource/3rdParty/css/admin.global.css" th:href="@{/resource/3rdParty/css/admin.global.css}" rel="stylesheet" type="text/css"/>
    <link href="../resource/3rdParty/css/admin.content.css" th:href="@{/resource/3rdParty/css/admin.content.css}" rel="stylesheet" type="text/css"/>
    <link href="../resource/3rdParty/css/admin.mall.css" th:href="@{/resource/3rdParty/css/admin.mall.css}" rel="stylesheet" type="text/css"/>
    <script src="../resource/3rdParty/js/jquery-1.7.2.min.js" th:href="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script src="../resource/3rdParty/js/jquery.utils.js" th:href="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../resource/3rdParty/jBox/Skins/Green/jbox.css" th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../resource/3rdParty/jBox/jquery.jBox-2.3.min.js" th:href="@{resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>

    <script th:inline="javascript">
        var baseUrl = /*[[@{/order/}]]*/ "/order/";

        function submitForm() {
            var orderId = $("#orderId").val();
            var logisticsName = $("#logisticsName").val();
            var logisticsNo = $("#logisticsNo").val();
            var logisticsCode = $("#selLogiName").val();
            var freight = 0;
//            var freight = $("#freight").val();
            var remark = $("#remark").val();
            var shipAddr = $("#shipAddr").val();
            var shipName = $("#shipName").val();
            var shipZip = $("#shipZip").val();
            var shipMobile = $("#shipMobile").val();
            var shipTel = $("#shipTel").val();
            var reason = $("#reason").val();
            var sendItems = getCheckedSendBn("choice");

            if (freight.length == 0) {
                $.jBox.tip("请输入运费");
                return;
            }
            if (logisticsName.length == 0) {
                $.jBox.tip("请选择物流公司");
                return;
            }
            if (logisticsNo.length == 0) {
                $.jBox.tip("请输入物流单号");
                return;
            }
            if (sendItems.length == 1) {
                $.jBox.tip("请选择要发货的货品");
                return;
            }

            var requestData = {
                orderId: orderId,
                logiName: logisticsName,
                logiNo: logisticsNo,
                logiCode: logisticsCode,
                freight: freight,
                remark: remark,
                shipAddr: shipAddr,
                shipName: shipName,
                shipZip: shipZip,
                shipMobile: shipMobile,
                shipTel: shipTel,
                reason: reason,
                sendItems: sendItems
            };
            $.jBox.tip("正在保存...", "loading");
            setTimeout(function () {
                J.GetJsonRespons(baseUrl + "delivery", requestData, function (result) {
                    if (result.code != 200) {
                        $.jBox.tip("发货失败--" + result.msg);
                    } else {
                        $.jBox.tip("发货成功", "success");
                        setTimeout(function () {
                            top.$('#loading').show();
                            top.$('#content').hide().attr('src', baseUrl + "getOrdersPage");
                        }, 400);
                    }
                }, function () {
                    $.jBox.tip("保存失败，请重试", "error");
                }, "post");
            }, 400);

        }

        function getCheckedSendBn(checkboxName) {
            var checkedObj = $("input[name='" + checkboxName + "']:checked");
            var checkedMenu = "|";

            checkedObj.each(function () {
                checkedMenu += $(this).val() + "|";
            });
            return checkedMenu;
        }
        $("#checkall").click(function () {
            var option = $("#checkall").prop('checked');
            $("input[name='choice']:checkbox").each(function () {
                $(this).prop("checked", option);
            })
        })
    </script>
</head>
<body marginwidth="0" marginheight="0">
<form method="post" id="form2">

    <input type="hidden" name="orderId" id="orderId" th:value="${order.orderId}" value="5"/>

    <div class="division" th:object="${order}">
        <table cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
                <th>订单号:</th>
                <td>
                    <span id="lblOrderId" th:text="*{orderId}"></span>
                </td>
                <th>下单日期:</th>
                <td>
                    <span id="lblCreateTime" th:text="*{#dates.format(createTime,'yyyy-MM-dd HH:mm:ss')}"></span></td>
            </tr>
            <tr>
                <th>物流公司:</th>
                <td>
                    <script type="text/javascript">
                        function quickSetLogiName() {
                            var _cur = $("#selLogiName  option:selected");
                            var lname = _cur.val() == '0' ? '' : _cur.text();
                            $('#logisticsName').val(lname);
                        }
                    </script>
                    <select name="selLogiName" id="selLogiName" class="x-input-select  inputstyle"
                            onchange="quickSetLogiName();">
                        <option value="0">请输入或选择</option>
                        <option value="youzhengguonei">中国邮政</option>
                        <option value="shentong">申通快递</option>
                        <option value="yuantong">圆通速递</option>
                        <option value="shunfeng">顺丰速运</option>
                        <option value="tiantian">天天快递</option>
                        <option value="huitongkuaidi">百世汇通</option>
                        <option value="yunda">韵达快递</option>
                        <option value="zhongtong">中通速递</option>
                        <option value="longbanwuliu">龙邦物流</option>
                        <option value="zhaijisong">宅急送</option>
                        <option value="quanyikuaidi">全一快递</option>
                        <option value="huitongkuaidi">汇通速递</option>
                        <option value="minghangkuaidi">民航快递</option>
                        <option value="yafengsudi">亚风速递</option>
                        <option value="kuaijiesudi">快捷速递</option>
                        <option value="tiandihuayu">华宇物流</option>
                        <option value="zhongtiewuliu">中铁快运</option>
                        <option value="fedexuk">FedEx</option>
                        <option value="ups">UPS</option>
                        <option value="dhl">DHL</option>
                        <option value="pinjun">品骏快递</option>
                    </select>&nbsp;&nbsp;
                    <input name="logisticsName" type="text" id="logisticsName" class="_x_ipt" size="15"/>
                </td>
                <th>物流单号:</th>
                <td>
                    <input name="logisticsNo" type="text" id="logisticsNo" class="x-input " width="100"/></td>
            </tr>
            <tr>
                <th>收货人姓名:</th>
                <td>
                    <input name="shipName" th:value="*{shipName}" type="text" id="shipName" class="x-input "
                           width="80"/></td>
                <th>电话:</th>
                <td>
                    <input name="shipTel" type="text" th:value="*{shipTel}" id="shipTel" class="x-input "
                           width="150"/></td>
            </tr>
            <tr>
                <th>手机:</th>
                <td>
                    <input name="shipMobile" type="text" th:value="*{shipMobile}" id="shipMobile"
                           class="x-input " width="150"/></td>
                <th>邮政编码:</th>
                <td>
                    <input name="shipZip" type="text" id="shipZip" class="x-input " th:value="*{shipZip}"
                           width="80"/></td>
            </tr>
            <tr>
                <th>收货地址:</th>
                <td>
                    <input name="shipAddr" type="text" id="shipAddr" class="x-input " style="width: 360px"
                           th:value="*{shipAddr}"/></td>

                <th>物流费用:</th>
                <td>
                    <input name="freight" type="text" id="freight" value="0" class="x-input OnlyFloat" width="50"/>
                </td>
            </tr>
            <tr>
                <th>发货单备注:</th>
                <td colspan="3">
                    <textarea name="remark" id="remark" style="width: 95%"></textarea></td>
            </tr>
            <tr>
                <th>商家备注:</th>
                <td colspan="3" th:text="${order.remark}">
                    上架备注
                </td>
            </tr>
            <tr>
                <th>用户附言:</th>
                <td colspan="3" th:text="${order.memo}">
                    用户附言
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="division">
        <table cellpadding="0" cellspacing="0" class="gridlist data-table">
            <colgroup>
                <col style="width: 5%"/>
                <col style="width: 20%"/>
                <col style="width: 35%"/>
                <col style="width: 15%"/>
                <col style="width: 10%"/>
            </colgroup>
            <thead>
            <tr>
                <th width="20px"><!--<input type="checkbox" id="checkall"/>--></th>
                <th>货号</th>
                <th>商品名称</th>
                <th>购买数量</th>
                <th>已发货</th>
                <!--<th>此单发货</th>-->
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <!--/*@thymesVar id="orderItems" type="java.util.List<com.huotu.agento2o.service.entity.order.MallOrderItem>"*/-->
            <tr th:each="orderItem:${order.orderItems}">
                <td><input th:if="${orderItem.deliverable()}" type="checkbox" name="choice" th:value="${orderItem.itemId}" checked="checked"/></td>
                <td th:text="${orderItem.bn}">G49B884C0349DE7</td>
                <td>
                    <span th:text="${orderItem.name}">休闲男鞋(蓝色,37)(1)</span>
                    <span style="color: red;" th:if="${orderItem.afterSales!=null}" th:text="${orderItem.afterSales.afterSaleStatus.value}"></span>
                </td>
                <td th:text="${orderItem.nums}">0</td>
                <td th:text="${orderItem.sendNum}">0</td>
            </tr>


            </tbody>
        </table>
    </div>

    <div style="text-align: center;">
        <a class="btn-lit" href="javascript:submitForm();"><span>提交</span></a>
    </div>
</form>


</body>
</html>