<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>T+1结算对账</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css" th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css" th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css" th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <link href="../../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css" th:href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" th:href="@{/resource/css/settlements.css}" type="text/css"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.7.2.min.js" th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js" th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js" th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js" th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="../../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js" th:src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js" th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>

    <style type="text/css">
        body, td, th {
            font-family: "微软雅黑", "宋体", Arial;
        }
    </style>
    <script>

    </script>
</head>
<body>

<!--/*@thymesVar id="settlementSearcher" type="com.huotu.agento2o.service.searchable.SettlementSearcher"*/-->
<form method="get" action="settlements" th:action="@{/huobanmall/settlement/settlements}" id="form1" th:object="${settlementSearcher}">

    <div class="container">
        <div class="blank10">
        </div>


        <div class="search block" style="display: block;">
            <div class="h">
                <span class="icon-sprite icon-magnifier"></span>

                <h3>T+1结算对账</h3>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div class="cnt">
                    <div class="search-bar">
                        <div>
                            <label class="first ">结算单产生起止时间：</label>
                            <input name="createStartDate" type="text" id="txtCreateBeginTime" placeholder=" [开始时间]"
                                   class="input-normal Wdate"
                                   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"
                                   style="margin-left: 8px;" th:value="*{createStartDate}"/>
                            <label class="first ">---</label>
                            <input name="createEndDate" type="text" id="txtCreateEndTime" placeholder=" [结束时间]"
                                   class="input-normal Wdate" th:value="*{createEndDate}"
                                   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'txtCreateBeginTime\')}'})"/>
                            <label class="first ">序号：</label>
                            <input name="settlementNo" type="text" th:value="*{settlementNo}" id="settlementNo" class="input-small" style="width: 120px;"/>
                            <br/>
                            <br/>

                            <label class="first ">结算单生效起止日期：</label>
                            <input name="startDate" type="text" id="txtBeginTime" placeholder=" [开始时间]"
                                   class="input-normal Wdate"
                                   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false})"
                                   style="margin-left: 8px;" th:value="*{startDate}"/>
                            <label class="first ">---</label>
                            <input name="endDate" type="text" id="txtEndTime" placeholder=" [结束时间]"
                                   class="input-normal Wdate" th:value="*{endDate}"
                                   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,minDate:'#F{$dp.$D(\'txtBeginTime\')}'})"/>

                            <label class="first">门店：
                                <select id="shopId" name="shopId">
                                    <option value="0" th:selected="*{shopId==0}">请选择</option>
                                    <!--/*@thymesVar id="shopList" type="java.util.List<com.huotu.agento2o.service.entity.author.Shop>"*/-->
                                    <option th:each="shop:${shopList}" th:value="${shop.id}" th:selected="${settlementSearcher.shopId == shop.id ? true : false}" th:text="${shop.name}"></option>
                                </select>
                            </label>
                            <label class="first"> 审核状态：
                                <select id="searchType" name="customerStatus">
                                    <option value="-1" th:selected="*{customerStatus==-1}">请选择</option>
                                    <option value="0" th:selected="*{customerStatus==0}">待审核</option>
                                    <option value="1" th:selected="*{customerStatus==1}">审核通过</option>
                                    <option value="2" th:selected="*{customerStatus==2}">审核不通过</option>
                                </select>
                            </label>
                            <label>
                                <a class="btn-lit btn-middle" onclick="searchSettlement()"
                                   style="margin-bottom: 3px;">
                                    <span>查询</span>
                                </a>
                                <a class="btn-lit btn-middle" onclick="searchAll()"
                                   style="margin-bottom: 3px;">
                                    <span>显示全部</span>
                                </a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank10">
        </div>
        <div class="block">
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div>
                <!--@thymesVar id="totalRecords" type="long"-->
                <label th:if="${totalRecords}!=0">
                    <a class="btn-lit btn-middle" onclick="updateStatus(1)"
                       style="margin-bottom: 2px;margin-left: 10px;margin-top: 3px;">
                        <span>批量审核通过</span>
                    </a>
                </label>
                <label th:if="${totalRecords}!=0">
                    <a class="btn-lit btn-middle" onclick="updateStatus(2)"
                       style="margin-bottom: 2px;margin-left: 10px;margin-top: 3px;">
                        <span>批量审核不通过</span>
                    </a>
                </label>
            </div>
            <div class="cnt-wp" style="padding: 10px 10px 10px;display: block;">

                <div class="cnt">

                    <table class="data-table even1" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr class="even">
                            <th scope="col">
                                <input type="checkbox" id="checkall" />
                            </th>
                            <th scope="col">序号
                            </th>
                            <th scope="col">门店
                            </th>
                            <th scope="col">结算产生时间
                            </th>
                            <th scope="col">结算生效日期
                            </th>
                            <th scope="col">总货款
                            </th>
                            <th scope="col">邮费
                            </th>
                            <th scope="col">备注
                            </th>
                            <th scope="col">平台方审核状态
                            </th>
                            <th scope="col">代理商/门店审核状态
                            </th>
                            <th scope="col">操作
                            </th>
                        </tr>
                        </thead>
                        <tbody th:remove="all-but-first">
                        <!--/*@thymesVar id="settlementPage" type="java.util.List<com.huotu.agento2o.service.entity.settlement.Settlement>"*/-->
                        <tr th:each="settlement:${settlementPage}">
                            <td class="txt20 c"><input type="checkbox" name="choice" th:value="${settlement.settlementNo}" th:if="${settlement.checkAble() and settlement.customerCheckable()}"  /></td>
                            <td class="txt40 c" th:text="${settlement.settlementNo}">
                            </td>
                            <td class="txt80 c" th:text="${settlement.shop.name}">
                            </td>
                            <td class="txt80 c" th:text="${settlement.createDateTime !=null ?  #dates.format(settlement.createDateTime,'yyyy-MM-dd HH:mm:ss') : ''}">
                                2015-10-19
                            </td>
                            <td class="txt80 c" th:text="${settlement.settlementDate != null ?  #dates.format(settlement.settlementDate,'yyyy-MM-dd HH:mm:ss') : ''}">
                                2015-10-19
                            </td>
                            <td class="txt40 c" th:text="${settlement.finalAmount}">

                            </td>
                            <td class="txt40 c" th:text="${settlement.freight}">

                            </td>
                            <td class="txt80 c" th:text="${settlement.remark}">

                            </td>
                            <td class="txt40 c" >
                                <span style="color:red;" th:text="${settlement.customerStatus.value}">待审核</span>
                            </td>
                            <td class="txt40 c" >
                                <span style="color:red;" th:text="${settlement.authorStatus.value}">待审核</span>
                            </td>
                            <td class="txt80 c">
                                <a href="javascript:void(0)" th:attr="settlementNo=${settlement.settlementNo}" onclick="showSettlementDetail(this)"
                                   title="查看">查看</a>
                                <a href="javascript:void(0)" th:if="${settlement.customerCheckable() and settlement.checkAble()}" th:attr="settlementNo=${settlement.settlementNo}" onclick="showUpdateStatus(this)">审核</a>
                                <!--<a th:if="${settlement.customerStatus}!=0" th:attr="settlementNo=${settlement.settlementNo}" onclick="updateStatusById(0,this)">取消审核</a>-->
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--分页开始-->
                <script type="text/javascript" th:inline="javascript">
                    /*<![CDATA[*/
                    var pageSize = /*[[${pageSize}]]*/ '-1';
                    var pageIndex = /*[[*{pageNo}]]*/ '-1';
                    var pageCount = /*[[${totalPages}]]*/ '-1';
                    var recordCount = /*[[${totalRecords}]]*/ '-1';
                    var formName = 'form1';
                    //                                    var pageNoStr = 'pageNoStr';
                    Pager.Output(formName, 'pageNo', pageSize, pageIndex, pageCount, recordCount);
                    /*]]>*/
                </script>
                <!--分页结束-->
            </div>
        </div>
    </div>
</form>
<!--审核对话框start-->
<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" tabindex="-1" role="dialog"
     aria-labelledby="ui-dialog-title-managerInfoDialog"
     style="display: none; z-index: 1014; outline: 0px; height: auto; width: auto; top: 180px; left: 379.5px;">
    <div id="settlementDialog" style="width: auto; min-height: 49px; height: auto;"
         class="ui-dialog-content ui-widget-content" scrolltop="0" scrollleft="0">
        <div class="hua_card">
            <div style="width:300px">
                <ul>
                    <li style="text-align: center ; ">
                        <label>
                            <input type="radio" name="RadioGroup" value="1" id="RadioGroup1" style="
    vertical-align: text-top; text-align: center;
" onclick="javascript:change(1)"  checked="checked"/>
                            审核通过</label>
                        <label>
                            <input type="radio" name="RadioGroup" value="2" id="RadioGroup2" onclick="javascript:change(2)"  style="vertical-align: text-top;"/>
                            审核不通过</label>
                    </li>
                    <li style="display: none" id="comment">
                        <label>
                            审核说明<textarea  name="settlementComment" id="settlementComment"  style="width: 80%"></textarea>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                    role="button" aria-disabled="false"><span class="ui-button-text">确定</span></button>
            <button type="button"
                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-focus"
                    role="button" aria-disabled="false"><span class="ui-button-text">取消</span></button>
        </div>
    </div>
</div>
<!--审核对话框end-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var baseUrl = /*[[@{/huobanmall/settlement}]]*/ "/huobanmall/settlement";
    var totalPages = /*[[${totalPages}]]*/ 1;
    var currentPage = parseInt($("#currentPage").text());

    $("#checkall").click(function(){
        var option = $("#checkall").prop('checked');
        $("[name='choice']:checkbox").each(function(){
            $(this).prop("checked",option);
        })
    })
    //查询
    function searchSettlement() {
        $("input[name=pageNo]").val(1);
        $("#form1").submit();
    }
    function searchAll(){
        var url = baseUrl + "/settlements";
        window.location.href = url;
    }
    function showSettlementDetail(obj) {
        var settlementNo = $(obj).attr("settlementNo");
        var url=baseUrl + "/settlementDetail?settlementNo="+settlementNo+"&pageNo=1";
//        J.PopupIFrame(url,"结算单明细",1300,700,"ifrm","","auto","");
        window.location.href = url;
    }

    //显示审核对话框
    function showUpdateStatus(obj){
        var settlementNo = $(obj).attr("settlementNo");
        J.ShowDialog("settlementDialog", "结算单审核", function () {
            var status = $("input[name='RadioGroup']:checked").val();
            var settlementComment = $.trim($("#settlementComment").val());
            if(status == 2 && settlementComment.length == 0){
                $.jBox.tip("请输入审核说明");
                return ;
            }
            $.jBox.tip("正在保存...", "loading");
            $.ajax({
                type:"POST",
                url:baseUrl + "/updateStatusSettlement",
                data:{
                    settlementNo:settlementNo,
                    status:status,
                    settlementComment:settlementComment
                },
                dataType:"json",
                success: function (msg) {
                    if(msg.code == 200){
                        $.jBox.tip(msg.msg, 'success');
                    }else{
                        $.jBox.tip(msg.msg, 'error');
                    }
                    setTimeout(function(){
                        window.location.reload();
                    },500);
                }
            });
        }, function () {
            $(this).dialog('close');
        });
    }

    //审核状态单选框单击事件
    function change(type){
        if(type == 1){
            document.getElementById('comment').style.display='none';
        }else{
            document.getElementById('comment').style.display='';
        }
    }

    //审核结算单（status=1表示审核通过，status=2表示审核不通过，status=3表示取消审核）
    function updateStatusById(status,obj) {
        var settlementNo = $(obj).attr("settlementNo");
        $.jBox.tip("正在保存...", "loading");
        $.ajax({
            type:"POST",
            url:baseUrl + "/updateStatusSettlement",
            data:{
                settlementNo:settlementNo,
                status:status
            },
            dataType:"json",
            success: function (msg) {
                if(msg.code == 200){
                    $.jBox.tip(msg.msg, 'success',{closed:function(){
                        window.location.reload();}});
                }else{
                    $.jBox.tip(msg.msg, 'error',{closed:function(){
                        window.location.reload();}});
                }
            }
        });
    }

    //批量审核结算单（status=1表示审核通过，status=2表示审核不通过，status=3表示取消审核）
    function updateStatus(status){
        var checkedObj = $("input[name='choice']:checked");
        var checkedNo = "";

        checkedObj.each(function () {
            checkedNo += $(this).val() + ",";
        });
        if(checkedNo.length <= 0){
            $.jBox.tip("请选择要处理的结算单", 'into');
            return;
        }
        $.jBox.tip("正在保存...", "loading");
        $.ajax({
            type:"POST",
            url:baseUrl + "/updateStatusSettlements",
            data:{
                status:status,
                choice:checkedNo
            },
            dataType:"json",
            success: function (msg) {
                if(msg.code == 200){
                    $.jBox.tip(msg.msg, 'success');
                }else{
                    $.jBox.tip(msg.msg, 'error');
                }
                setTimeout(function(){
                    window.location.reload();
                },500);
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>
