<!DOCTYPE html>

<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="resource/3rdParty/js/jquery-1.7.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script src="resource/3rdParty/js/admin.js" th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="resource/lib/jquery.utils.js" th:src="@{/resource/lib/jquery.utils.js}"></script>
    <script type="text/javascript" th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"
            src="resource/3rdParty/jBox/jquery.jBox-2.3.min.js"></script>

    <link href="resource/3rdParty/jBox/Skins/Green/jbox.css" th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"
          rel="stylesheet" type="text/css"/>
    <link href="resource/3rdParty/ResPdmall/css/houtaikk.css" th:href="@{/resource/3rdParty/ResPdmall/css/houtaikk.css}"
          rel="stylesheet"/>
    <link href="resource/css/index.css" th:href="@{/resource/css/index.css}" rel="stylesheet" type="text/css"/>
    <title>
        工作面板
    </title>
</head>
<body style="background: #fff;">
<!--/*@thymesVar id="indexStatistics" type="com.huotu.agento2o.service.model.statistics.IndexStatistics"*/-->
<form th:object="${indexStatistics}">

    <!--今日业务-->
    <div class="navke">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!--<div class="panel-btns">
                    <a href="javascript:;" class="minimize" data-rel="today">−</a>
                </div>-->
                <h4 class="panel-title">今日业务
                </h4>

            </div>
            <div class="jinriyewu" id="today">
                <ul>
                    <th:block th:if="*{agent}">
                        <p style="clear: both;padding-top: 10px;"></p>
                    </th:block>
                    <li th:if="*{todayOrderCount!=null}">今日订单数<span th:text="*{todayOrderCount}">0</span></li>

                    <li th:if="*{todayPurchaseOrderCount!=null}">今日我的采购单数<span th:text="*{todayPurchaseOrderCount}">0</span></li>

                    <li th:if="*{todayReturnedOrderCount!=null}">今日我的退货单数<span th:text="*{todayReturnedOrderCount}">0</span></li>

                    <th:block th:if="*{agent}">
                        <p style="clear: both;padding-top: 10px;"></p>

                        <li th:if="*{todaySubPurchaseOrderCount!=null}">今日下级采购单数<span th:text="*{todaySubPurchaseOrderCount}">0</span></li>
                        <li th:if="*{todaySubReturnedOrderCount!=null}">今日下级退货单数<span th:text="*{todaySubReturnedOrderCount}">0</span></li>
                    </th:block>

                </ul>
            </div>
            <p style="clear: both"></p>
        </div>
    </div>
    <!--今日业务-->

    <!--昨日业务-->
    <div class="navke">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!--<div class="panel-btns">
                    <a href="javascript:;" class="minimize" data-rel="jinriyewu">−</a>
                </div>-->
                <h4 class="panel-title">昨日业务
                </h4>

            </div>
            <div class="jinriyewu" id="yesterday">
                <ul>
                    <p th:if="*{agent}" style="clear: both;padding-top: 10px;"></p>
                    <li th:if="*{yesterdayOrderCount!=null}">昨日订单数<span th:text="*{yesterdayOrderCount}">0</span></li>

                    <li th:if="*{yesterdayPurchaseOrderCount!=null}">昨日我的采购单数<span th:text="*{yesterdayPurchaseOrderCount}">0</span></li>

                    <li th:if="*{yesterdayReturnedOrderCount!=null}">昨日我的退货单数<span th:text="*{yesterdayReturnedOrderCount}">0</span></li>

                    <th:block th:if="*{agent}">
                        <p style="clear: both;padding-top: 10px;"></p>

                        <li th:if="*{yesterdaySubPurchaseOrderCount!=null}">昨日下级采购单数<span th:text="*{yesterdaySubPurchaseOrderCount}">0</span></li>
                        <li th:if="*{yesterdaySubReturnedOrderCount!=null}">昨日下级退货单数<span th:text="*{yesterdaySubReturnedOrderCount}">0</span></li>
                    </th:block>
                </ul>
            </div>

            <p style="clear: both"></p>
        </div>
    </div>
    <!--昨日业务-->

    <!--待处理-->
    <div class="navke">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!--<div class="panel-btns">
                    <a href="javascript:;" class="minimize" data-rel="other">−</a>
                </div>-->
                <h4 class="panel-title">待处理
                </h4>

            </div>
            <div class="jinriyewu" id="other">
                <ul>
                    <p style="clear: both;padding-top: 10px;"></p>
                    <th:block th:if="*{agent==false}">
                        <li th:if="*{toDeliveryOrderCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('01','010101')">待发货订单数<span
                                th:text="*{toDeliveryOrderCount}">2个</span></li>
                    </th:block>
                    <th:block th:if="*{agent}">
                        <li th:if="*{toCheckPurchaseOrderCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('02','020401')">待审核采购单数<span
                                th:text="*{toCheckPurchaseOrderCount}">2个</span></li>
                        <li th:if="*{toDeliveryPurchaseOrderCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('02','020401')">待发货采购单数<span
                                th:text="*{toDeliveryPurchaseOrderCount}">2个</span></li>
                    </th:block>
                    <p style="clear: both;padding-top: 10px;"></p>
                    <li th:if="*{toReceivePurchaseOrderCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('02','020201')">待确认收货采购单数<span
                            th:text="*{toReceivePurchaseOrderCount}">2个</span></li>
                    <p style="clear: both;padding-top: 10px;"></p>
                    <th:block th:if="*{agent}">
                        <li th:if="*{toCheckReturnedOrderCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('02','020402')">待审核退货单数<span
                                th:text="*{toCheckReturnedOrderCount}">2个</span></li>
                        <li th:if="*{toReceiveReturnedOrderCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('02','020402')">待确认收货退货单数<span
                                th:text="*{toReceiveReturnedOrderCount}">2个</span></li>
                    </th:block>
                    <p style="clear: both;padding-top: 10px;"></p>
                    <li th:if="*{toDeliveryReturnedOrderCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('02','020203')">待退货退货单数<span
                            th:text="*{toDeliveryReturnedOrderCount}">2个</span></li>
                    <p style="clear: both;padding-top: 10px;"></p>
                    <th:block th:if="*{agent == false}">
                        <li th:if="*{toCheckSettlementCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('05','050101')">待审核结算单数<span
                                th:text="*{toCheckSettlementCount}">2个</span></li>

                    </th:block>
                </ul>
            </div>

            <p style="clear: both"></p>
        </div>
    </div>
    <!--待处理-->

    <!--库存预警-->
    <div class="navke">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!--<div class="panel-btns">
                    <a href="javascript:;" class="minimize" data-rel="other">−</a>
                </div>-->
                <h4 class="panel-title">库存预警
                </h4>

            </div>
            <div class="jinriyewu" id="notify">
                <ul>
                    <p style="clear: both;padding-top: 10px;"></p>
                    <li th:if="*{productNotifyCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('02','020301')">货品库存预警数<span
                            th:text="*{productNotifyCount}">2个</span></li>
                </ul>
            </div>

            <p style="clear: both"></p>
        </div>
    </div>
    <!--库存预警-->

</form>
</body>
</html>
