<!DOCTYPE html>

<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="resource/3rdParty/js/jquery-1.7.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script src="resource/3rdParty/js/admin.js" th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="resource/lib/jquery.utils.js" th:src="@{/resource/lib/jquery.utils.js}"></script>
    <script type="text/javascript" th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"
            src="resource/3rdParty/jBox/jquery.jBox-2.3.min.js"></script>

    <link href="resource/3rdParty/jBox/Skins/Green/jbox.css" th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"
          rel="stylesheet" type="text/css"/>
    <link href="resource/3rdParty/ResPdmall/css/houtaikk.css" th:href="@{/resource/3rdParty/ResPdmall/css/houtaikk.css}"
          rel="stylesheet"/>
    <link href="resource/css/index.css" th:href="@{/resource/css/index.css}" rel="stylesheet" type="text/css"/>
    <title>
        工作面板
    </title>
</head>
<body style="background: #fff;">
<!--/*@thymesVar id="indexStatistics" type="com.huotu.agento2o.service.model.statistics.IndexStatistics"*/-->
<form th:object="${indexStatistics}">

    <!--今日业务-->
    <div class="navke">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="javascript:;" class="minimize" data-rel="today">−</a>
                </div>
                <h4 class="panel-title">今日业务
                </h4>

            </div>
            <div class="jinriyewu" id="today">
                <ul>
                    <li th:if="*{todayPurchaseOrderCount!=null}">今日采购单数<span th:text="*{todayPurchaseOrderCount}">0</span></li>

                    <li th:if="*{todayUnDeliveryPurchaseOrderCount!=null}">今日待发货采购单数<span th:text="*{todayUnDeliveryPurchaseOrderCount}">0个</span></li>
                </ul>
            </div>

            <p style="clear: both"></p>
        </div>
    </div>
    <!--今日业务-->

    <!--昨日业务-->
    <div class="navke">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="javascript:;" class="minimize" data-rel="jinriyewu">−</a>
                </div>
                <h4 class="panel-title">昨日业务
                </h4>

            </div>
            <div class="jinriyewu" id="jinriyewu">
                <ul>
                    <li th:if="*{yesterdayPurchaseOrderCount!=null}">昨日采购单数<span th:text="*{yesterdayPurchaseOrderCount}">0个</span></li>
                    <li th:if="*{yesterdayUnDeliveryPurchaseOrderCount!=null}">昨日待发货采购单数<span th:text="*{yesterdayUnDeliveryPurchaseOrderCount}">0个</span></li>
                    <!--<li>昨日订单量<span th:text="*{yesterdayOrderCount}">0个</span></li>-->
                    <!--<li>昨日成交订单<span th:text="*{yesterdayUnDeliveryCount}">0个</span></li>-->
                    <!--<li>待处理售后申请<span>67个</span></li>-->
                </ul>
            </div>

            <p style="clear: both"></p>
        </div>
    </div>
    <!--昨日业务-->

    <!--待处理-->
    <div class="navke">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="javascript:;" class="minimize" data-rel="other">−</a>
                </div>
                <h4 class="panel-title">待处理
                </h4>

            </div>
            <div class="jinriyewu" id="other">
                <ul>
                    <li th:if="*{toCheckPurchaseOrderCount!=null}" style="cursor: pointer" onclick="top.mallMenuManager.active('02','020301')">待审核采购单<span
                            th:text="*{toCheckPurchaseOrderCount}">2个</span></li>
                    <!--<li style="cursor: pointer" onclick="top.mallMenuManager.active('02','020101')">待审核结算单<span-->
                            <!--th:text="*{settlementCount}">0个</span></li>-->
                </ul>
            </div>

            <p style="clear: both"></p>
        </div>
    </div>
    <!--待处理-->
</form>
</body>
</html>
