<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <script src="resource/lib/jquery-1.7.2.min.js" th:src="@{/resource/lib/jquery-1.7.2.min.js}"></script>
    <script src="resource/3rdParty/js/admin.js" th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="resource/lib/jquery.utils.js" th:src="@{/resource/lib/jquery.utils.js}"></script>
    <link href="resource/3rdParty/ResPdmall/css/houtaikk.css" th:href="@{/resource/3rdParty/ResPdmall/css/houtaikk.css}" rel="stylesheet"/>
    <script>
        function checkDd(size) {
            $('.aparent' + size).parent().toggleClass('nav-active');
            $('.aparent' + size).parent().children('.children').toggle();
        }
    </script>
</head>
<body style="padding: 0px; margin: 0px;" marginwidth="0" marginheight="0">
<!-- leftpanelinner -->
<div class="leftpanelinner" id="menuContainer" style="height: 776px; overflow-y: auto;">


    <ul class="nav nav-pills nav-stacked nav-bracket" id="menuList">
        <!--/*@thymesVar id="menus" type="java.util.List<com.huotu.hotsupplier.hbm.service.entity.SupMenu>"*/-->
        <li class="nav-parent nav-active active" style="cursor: pointer;" th:each="menu:${menus}">
            <a class="aparent1" href="javascript:checkDd(1)" th:class="${'aparent'+menuStat.count}" th:href="|javascript:checkDd(${menuStat.count})|">
                <i class="fa fa-chevron-circle-right"></i><span th:text="${menu.menuName}">结算单管理</span>
            </a>
            <ul class="children" style="display: block" th:each="child:${menu.children}">
                <li class="childMenus" style="cursor: pointer;" th:id="|id_${child.menuId}|">
                    <a th:onclick="|openUrl('@{${child.linkUrl}}','${child.menuId}')|" onclick="openUrl('/settlement/settlements','020101')">
                        <i class="fa fa-caret-right"></i><span th:text="${child.menuName}">结算单列表</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- leftpanelinner -->
</body>
<script type="text/javascript" th:inline="javascript">
    var activeMenuId = /*[[${activeMenu==null?0:activeMenu.menuId}]]*/ "";
    var linkUrl = /*[[@{${activeMenu==null?'':activeMenu.linkUrl}}]]*/ "";
    var parentId = /*[[${parentId}]]*/ "";
</script>

</html>
<script type="text/javascript">
    /*<![CDATA[*/
    function openUrl(linkUrl, menuId) {
        $(".childMenus").removeClass("active");
        $("#id_" + menuId).addClass("active");
        top.$('#loading').show();
        top.$('#content').hide().attr('src', linkUrl);
    }

    $(function () {
        if (parentId != "" && parentId != null) {
            openUrl(linkUrl, activeMenuId);
        }
    })
    /*]]>*/
</script>