<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="afterSales" type="java.util.List<com.huotu.hotsupplier.hbm.service.entity.order.MallAfterSales>"*/-->
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>菜单管理</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css" th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css" th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css" th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <link href="../../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css" th:href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" th:href="@{/resource/css/settlements.css}" type="text/css"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.7.2.min.js" th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="/resource/lib/jquery.utils.js" th:src="@{/resource/lib/jquery.utils.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js" th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js" th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="../../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js" th:src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js" th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <style type="text/css">
        .over {
            background-color: #00ff21;
        }

        body, td, th {
            font-family: "微软雅黑", "宋体", Arial;
        }
    </style>
    <script type="text/javascript" th:inline="javascript">
        var ajaxUrl = /*[[@{/agent/index/manager/agtMenu/config/}]]*/ "";
        $(function(){
            $('tr').mouseover(function () {
                _oldCass = this.className;
                this.className = 'over';
            }).mouseout(function () {
                this.className = _oldCass;
            });
        })
    </script>
    <script type="text/javascript">
        /*<![CDATA[*/
        var menuHandler = {
            saveMenu: function (menuId, parentId) {
                $("#dialog").html($("#dialog_template").html());
                if (menuId != null) {
                    J.GetJsonRespons(ajaxUrl + "menu", {
                        menuId: menuId
                    }, function (json) {
                        if (json.code == 200) {
                            var menu = json.data;
                            $("#menuId").val(menu.menuId);
                            $("#menuName").val(menu.menuName);
                            $("#linkUrl").val(menu.linkUrl);
                            $("#sortNum").val(menu.sortNum);
                            $("input[name='isDisabled'][value='" + menu.isDisabled + "']").attr("checked", true);
                            $("input[name='author']").attr("checked", false);
                            if ($.trim(menu.author).length > 0) {
                                var author = menu.author.split(",");
                                for (var i = 0; i < author.length; i++) {
                                    $("input[name='author'][value='" + author[i] + "']").attr("checked", true);
                                }
                            }
                        }
                    }, function () {
                    }, J.PostMethod);
                }
                J.ShowDialog("dialog", "菜单编辑", function () {
                    var self = this;
                    var menuId = $.trim($("#menuId").val());
                    var menuName = $.trim($("#menuName").val());
                    var linkUrl = $.trim($("#linkUrl").val());
                    var sortNum = $.trim($("#sortNum").val());
                    var author = getCheckedItems("author");
                    var isDisabled = $.trim($("input[name='isDisabled']:checked").val());
                    if (menuName.length == 0) {
                        $.jBox.tip("请输入菜单名称");
                        return;
                    }
                    var requestData = {
                        menuName: menuName,
                        linkUrl: linkUrl,
                        sortNum: sortNum,
                        parentId: parentId,
                        menuId: menuId,
                        author: author,
                        isDisabled: isDisabled
                    };
                    J.GetJsonRespons(ajaxUrl + "save", requestData, function (json) {
                        if (json.code == 200) {
                            $.jBox.tip("保存成功", "success");
                            $(self).dialog('close');
                            window.location.reload();
                        } else {
                            $.jBox.tip("保存失败", "error");
                        }
                    }, function () {
                    }, J.PostMethod);
                }, function () {
                    $(this).dialog("close");
                })
            },
            deleteMenu: function (menuId) {
                J.jboxConfirm("确定要删除该菜单,所有子菜单也会被删除?", function () {
                    J.GetJsonRespons(ajaxUrl + "delete", {
                        menuId: menuId
                    }, function (json) {
                        if (json.code == 200) {
                            $.jBox.tip("删除成功", "success");
                            window.location.reload();
                        } else {
                            $.jBox.tip("删除失败,请重试", "error");
                        }
                    }, function () {
                    }, J.PostMethod);
                });
            }
        };
        function getCheckedItems(checkboxName) {
            var checkedObj = $("input[name='" + checkboxName + "']:checked");
            var checkedMenu = "";

            checkedObj.each(function () {
                checkedMenu += $(this).val() + ",";
            });
            return checkedMenu.substring(0, checkedMenu.lastIndexOf(","));
        }
        /*]]>*/
    </script>
</head>
<body>

<div id="dialog" style="display: none;">

</div>

<div class="container">
    <div class="blank10">
    </div>
    <form>
        <div class="blank10">
        </div>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>

                <h3>商城菜单管理</h3>

                <div class="bar">
                    <a class="btn-lit" href="javascript:menuHandler.saveMenu(null,null)" data-bind="click: addRootNode">
                        <span id="addText">添加顶级菜单</span></a>
                </div>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp" style="padding: 10px 10px 10px;display: block;margin-top: 33px;">

                <div class="cnt">
                    <table class="data-table even1" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr class="even">
                            <th scope="col">菜单编号
                            </th>
                            <th scope="col">菜单名称
                            </th>
                            <th scope="col">Url
                            </th>
                            <th scope="col">排序
                            </th>
                            <th scope="col">状态
                            </th>
                            <th scope="col">操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--/*@thymesVar id="menus" type="java.util.List<com.huotu.hotsupplier.hbm.service.entity.SupMenu>"*/-->
                        <tr th:each="menu:${menus}">
                            <td class="txt40 c" th:text="${menu.menuId}"></td>
                            <td class="txt40" th:utext="${menu.getSpace()+menu.menuName}"></td>
                            <td class="txt40 c" th:text="${menu.linkUrl}"></td>
                            <td class="txt80 c" th:text="${menu.sortNum}"></td>
                            <td class="txt80 c" th:text="${menu.isDisabled==0?'启用':'停用'}"></td>
                            <td class="txt80 c">
                                <a href="javascript:menuHandler.saveMenu(1,0)" th:href="|javascript:menuHandler.saveMenu('${menu.menuId}',null)|">编辑</a> |
                                <a href="javascript:menuHandler.deleteMenu(1)" th:href="|javascript:menuHandler.deleteMenu('${menu.menuId}')|">删除</a> |
                                <a href="javascript:menuHandler.saveMenu(0,0)" th:href="|javascript:menuHandler.saveMenu(null,'${menu.menuId}')|">添加子菜单</a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

</html>

<script type="text/html" id="dialog_template">
    <div class="cnt form" style="margin-left: -82px;">
        <table class="data-form" cellspacing="12" cellpadding="0">
            <tbody>
            <tr class="register_hide">
                <th scope="row">菜单编号*：</th>
                <td>
                    <input id="menuId" class="input-normal"/></td>
            </tr>
            <tr class="register_hide" id="trintegral">
                <th scope="row">菜单名称*：</th>
                <td>
                    <input id="menuName" class="input-normal"/></td>
            </tr>
            <tr id="linkUrl_tr">
                <th scope="row">外链*：</th>
                <td>
                    <input id="linkUrl" class="input-normal"/></td>
            </tr>
            <tr>
                <th scope="row">排序*：</th>
                <td>
                    <input id="sortNum" style="width:50px;" onkeydown="J.CertainNumber(event)" class="input-normal"/>
                    （数字越小越在前）
                </td>
            </tr>
            <tr>
                <th scope="row">权限*：</th>
                <td>
                    <label><input type="checkbox" name="author" value="ORDER"/>订单管理</label>
                    <label><input type="checkbox" name="author" value="SETTLEMENT"/>结算管理</label>
                    <label><input type="checkbox" name="author" value="GOOD"/>商品管理</label>
                    <label><input type="checkbox" name="author" value="SHOP"/>店铺管理</label>
                </td>
            </tr>
            <tr>
                <th scope="row">是否启用*：</th>
                <td>
                    <label><input type="radio" name="isDisabled" value="0" checked="checked"/>启用</label>
                    <label><input type="radio" name="isDisabled" value="1"/>停用</label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>


