<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>门店新增</title>
    <link href="../resource/3rdParty/css/tzCheckbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/tzCheckbox.css}"/>
    <link href="../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <link href="../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css"
          th:href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../resource/css/settlements.css" rel="stylesheet" th:href="@{/resource/css/settlements.css}"
          type="text/css"/>
    <link href="../resource/css/shouji.css" rel="stylesheet" th:href="@{/resource/css/shouji.css}" type="text/css"/>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery-1.7.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            th:src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script src="../resource/3rdParty/js/jquery.tzCheckbox.js"
            th:src="@{/resource/3rdParty/js/jquery.tzCheckbox.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../resource/lib/ajaxfileupload.js"
            th:src="@{/resource/lib/ajaxfileupload.js}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery.cityselect.js"
            th:src="@{/resource/3rdParty/js/jquery.cityselect.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/bootstrap-typeahead.js"
            th:src="@{/resource/3rdParty/js/bootstrap-typeahead.js}"></script>

    <style type="text/css">
        body, td, th {
            font-family: "微软雅黑", "宋体", Arial;
        }

        .spModuleTitle {
            padding: 3px 10px 0px 10px;
            font-size: 16px;
            font-weight: bold;
            font-family: 微软雅黑;
        }

        #hotUser {
            position: absolute;
            background-color: #fff;
        }

        li:hover {
            background-color: #CCCCCC;
        }

        a:hover {
            text-decoration: none;
        }
        .must{
            color: red;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="shop" type="com.huotu.agento2o.service.entity.author.Shop"*/-->
<form action="#" th:action="@{/shop/addShop}" method="post" id="shopConfigForm" th:object="${shop}">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>
                <h3><B style="font-size: 120%" th:text="*{id}!=null ? '门店编辑' : '门店新增' ">门店新增</B></h3>
            </div>
            <div class="cnt-wp">
                <div class="cnt form">
                    <div>
                        <span style="color:#6699d5" class="spModuleTitle">登录信息</span>
                        <div class="division">
                            <input style="display: none" th:field="*{id}" th:value="*{id}" id="shopID"
                                   disabled="hidden"/>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>用户名<span class="must">*</span>:</th>
                                    <td>
                                        <input type="text" class="input-normal" id="username" th:field="*{username}"
                                               th:value="*{username}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>登陆密码<span class="must">*</span>:</th>
                                    <td>
                                        <input type="password" class="input-normal" id="password" th:field="*{password}"
                                               th:value="*{password}"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div>
                        <span style="color:#6699d5" class="spModuleTitle">账号绑定</span>
                        <div class="division">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td colspan="2"><B style="font-size: 120%">绑定上级代理商账号</B></td>
                                </tr>
                                <tr>
                                    <th>上级代理商等级:</th>
                                    <td>
                                        <span type="text" class="input-normal" readonly="readonly"
                                              th:text="${agent.agentLevel.levelName}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>上级代理商账户:</th>
                                    <td>
                                        <span type="text" class="input-normal" id="author" readonly="readonly"
                                              th:field="${agent.username}" th:text="${agent.username}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><B style="font-size: 120%">绑定小伙伴账号</B></td>
                                </tr>
                                <tr>
                                    <th style="height: 22px">小伙伴用户名:</th>
                                    <td>
                                        <div id="hotUser">
                                            <input id="hotUserName"
                                                   th:value="*{userBaseInfo == null ? '':userBaseInfo.loginName}"
                                                   type="text" class="input-normal" data-items="10"
                                                   data-provide="typeahead"/>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div>
                        <span style="color:#6699d5" class="spModuleTitle">门店基本资料</span>
                        <div class="division">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>门店所在区域<span class="must">*</span>:</th>
                                    <td>
                                        <div id="citys">
                                            <select class="prov" id="province"></select>
                                            <select class="city" id="city" disabled="disabled"></select>
                                            <select class="dist" id="district" disabled="disabled"></select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>门店名称<span class="must">*</span>:</th>
                                    <td>
                                        <input type="text" class="input-normal" id="name" th:field="*{name}"
                                               th:value="*{name}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>联系人<span class="must">*</span>:</th>
                                    <td>
                                        <input type="text" class="input-normal" id="contact" th:field="*{contact}"
                                               th:value="*{contact}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>手机号码<span class="must">*</span>:</th>
                                    <td>
                                        <input type="text" class="input-normal" id="mobile" th:field="*{mobile}"
                                               th:value="*{mobile}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>电话号码:</th>
                                    <td>
                                        <input type="text" class="input-normal" id="telephone" th:field="*{telephone}"
                                               th:value="*{telephone}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>E-mail<span class="must">*</span>:</th>
                                    <td>
                                        <input type="text" class="input-normal" id="email" th:field="*{email}"
                                               th:value="*{email}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>详细地址<span class="must">*</span>:</th>
                                    <td>
                                        <input type="text" id="address" th:field="*{address}" th:value="*{address}"
                                               class="input-normal" style="width: 300px;"/><br/>
                                        <div style="margin-top:10px; ">
                                            经度:
                                            <input type="text" readonly="readonly" id="lan" th:field="*{lan}"
                                                   th:value="*{lan}"
                                                   class="input-normal" style="width: 100px;"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                            纬度:
                                            <input type="text" readonly="readonly" id="lat" th:field="*{lat}"
                                                   th:value="*{lat}"
                                                   class="input-normal" style="width: 100px;"/>
                                        </div>
                                        <div id="addrMap"
                                             style="margin-top:10px;
                                             width: 500px;height: 300px;
                                             border: 1px solid gray;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>备注:</th>
                                    <td>
                                        <textarea type="text" rows="6" style="width: 80%" id="comment"
                                                  th:field="*{comment}" th:value="*{comment}"></textarea>
                                    </td>
                                </tr>
                                <tr th:if="*{auditComment!=null and auditComment!=''} ">
                                    <th>审核意见:</th>
                                    <td>
                                        <span type="text" rows="6" style="width: 80%" id="auditComment"
                                              th:text="*{auditComment}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div style="text-align: center;">
                        <a class="btn-lit" href="javascript:saveShopConfig();" id="saveShopConfig"
                           th:if="*{id}==null or *{status.code}==0 or *{status.code}==3"><span>保存</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="submit_dialog" style="display: none;"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var baseUrl = /*[[@{/shop/}]]*/ "/shop";
    //保存
    function saveShopConfig() {
        var username = $.trim($("#username").val());
        var password = $.trim($("#password").val());
        var province = $.trim($("#province").val());
        var city = $.trim($("#city").val());
        var district = $.trim($("#district").val());
        var name = $.trim($("#name").val());
        var contact = $.trim($("#contact").val());
        var mobile = $.trim($("#mobile").val());
        var telephone = $.trim($("#telephone").val());
        var address = $.trim($("#address").val());
        var lan = $.trim($("#lan").val());
        var lat = $.trim($("#lat").val());
        var comment = $.trim($("#comment").val());
        var auditComment = $("#auditComment").text();
        var id = $.trim($("#shopID").val());
        var hotUserName = $.trim($("#hotUserName").val());
        var email = $.trim($("#email").val());
        debugger;
        if (username.length == 0) {
            $.jBox.tip("请输入用户名");
            return;
        }
        //只有在增加门店时需要校验密码
        if (id == '' && password.length == 0) {
            $.jBox.tip("请输入密码");
            return;
        }
        if (province.length == 0 || city.length == 0 || district.length == 0) {
            $.jBox.tip("请选择区域");
            return;
        }
        if (name.length == 0) {
            $.jBox.tip("请输入门店名称");
            return;
        }
        if (contact.length == 0) {
            $.jBox.tip("请输入联系人");
            return;
        }
        if (mobile.length == 0) {
            $.jBox.tip("请输入手机号码");
            return;
        }
        if (!J.IsMobile(mobile)) {
            $.jBox.tip("手机号码格式不正确");
            return;
        }
        if (telephone.length != 0 && !(J.IsTel(telephone) || J.IsMobile(telephone))) {
            $.jBox.tip("电话号码格式不正确");
            return null;
        }
        if (email.length == 0) {
            $.jBox.tip("请输入E-mail");
            return;
        }
        if (!J.IsEmail(email)) {
            $.jBox.tip("E-mail格式不正确");
            return;
        }
        if (address.length == 0) {
            $.jBox.tip("请输入详细地址");
            return;
        }
        if (lan.length == 0 || lat.length == 0) {
            $.jBox.tip("请输入经纬度");
            return;
        }
        if (lan == 0 || lat == 0) {
            $.jBox.tip("经纬度不能为0");
            return;
        }

        $("#submit_dialog").html($("#submit_template").html());
        J.ShowDialog("submit_dialog", "门店保存", function () {
            var _this = $(this);
            var statusVal = $("input[name=status_radio]:checked").val()
            $.jBox.tip("正在保存...", "loading");
            $.ajax({
                type: 'POST',
                url: baseUrl + "/addShop",
                data: {
                    id: id,
                    username: username,
                    password: password,
                    province: province,
                    city: city,
                    district: district,
                    name: name,
                    contact: contact,
                    mobile: mobile,
                    telephone: telephone,
                    address: address,
                    lan: lan,
                    lat: lat,
                    comment: comment,
                    auditComment: auditComment,
                    hotUserName: hotUserName,
                    email: email,
                    statusVal:statusVal
                },
                success: function (result) {
                    if (result.code == 200) {
                        $.jBox.tip("保存成功", "success");
                        $(self).dialog('close');
                        setTimeout(function () {
                            window.location.href = baseUrl + "/shopList";
                        }, 500);
                    } else {
                        $.jBox.tip(result.msg, 'error');
                    }
                }
            });
        }, function () {
            $(this).dialog('close');
        });




    }
    /*]]>*/
</script>
<script th:inline="javascript">
    $(function () {
        $('#hotUserName').typeahead({
            source: function (query, process) {
                $.ajax({
                    type: 'POST',
                    url: "/shop/getUserNames",
                    async: false,
                    data: {
                        hotUserName: query
                    },
                    success: function (json) {
                        if (json.code == 200) {
                            return process(json.data);
                        }
                    }
                });
            }
        })

        var pro = /*[[${shop.province}]]*/"";
        var city = /*[[${shop.city}]]*/"";
        var dist = /*[[${shop.district}]]*/"";
        var id = /*[[${shop.id}]]*/"";
        if (id != null) {
            $("#citys").citySelect({
                url: "/resource/3rdParty/js/jquery.cityselect.js",
                prov: pro,
                city: city,
                dist: dist,
                nodata: null,
                required: false
            });
            $("#password").parent().parent().hide();
        } else {
            $("#citys").citySelect();
        }
        //    change2view2form('shopConfigForm');
        /*<![CDATA[*/
        /*百度地图API相关*/
        var map = new BMap.Map("addrMap");

        //設置地圖中心
        if (id == null) {
            //重新定位到当前城市
            function myFun(result) {
                var cityName = result.name;
                map.centerAndZoom(cityName, 10);
            }

            var myCity = new BMap.LocalCity();
            myCity.get(myFun);
        } else {
            var shoplan = /*[[${shop.lan}]]*/"";
            var shoplat = /*[[${shop.lat}]]*/"";
            map.centerAndZoom(new BMap.Point(shoplan, shoplat), 10);
        }

        map.enableScrollWheelZoom(true);    //启用滚轮放大缩小，默认禁用
        map.enableContinuousZoom(true);     //启用地图惯性拖拽，默认禁用
        map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
        map.addControl(new BMap.OverviewMapControl()); //添加默认缩略地图控件
        var geoc = new BMap.Geocoder();     //地址逆向解析
        var localSearch = new BMap.LocalSearch(map); //搜索范围
        localSearch.enableAutoViewport(); //允许自动调节窗体大小
        $("#address").change(function () {
            debugger;
            map.clearOverlays();//清空原来的标注
            var keyword = $(this).val();
            // 将地址解析结果显示在地图上,并调整地图视野
            geoc.getPoint(keyword, function (point) {
                if (point) {
                    lngandlat(point.lng, point.lat);
                    setmarker(point.lng, point.lat);
                    map.centerAndZoom(point, 16);
                } else {
                    lngandlat('', '');
                    $.jBox.tip("地址没有解析到结果,请点击地图进行选择");
                }
            });
        });
        map.addEventListener("click", function (e) {
            var pt = e.point;
            lngandlat(pt.lng, pt.lat);
            setmarker(pt.lng, pt.lat);
            geoc.getLocation(pt, function (rs) {
                var addComp = rs.addressComponents;
                $("#address").val(addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber);
            });

        });

        function lngandlat(lng, lat) {
            $("#lan").val(lng);
            $("#lat").val(lat);
        }

        function setmarker(lng, lat) {
            var marker = new BMap.Marker(new BMap.Point(lng, lat));  // 创建标注，为要查询的地方对应的经纬度
            map.clearOverlays(); //清空原来的标注
            map.addOverlay(marker);
        }

        //添加标注
        if ($.trim($("#lan").val()).length != 0 && $.trim($("#lat").val()).length) {
            setmarker($("#lan").val(), $("#lat").val());
        }
    });
    /*]]>*/
</script>
</body>
</html>
<script type="text/html" id="submit_template">
    <div class="cnt form" style="padding: 10px; width: 300px; height: 30px;">
        <div>
            <input id="not_check" type="radio" name="status_radio" value="0" checked="checked"/>
            <label for="not_check">仅保存</label>
            <input id="checking" type="radio" name="status_radio" value="1"/>
            <label for="checking">保存并提交审核</label>
        </div>
    </div>
</script>