<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>
        门店列表
    </title>
    <link href="../resource/3rdParty/css/tzCheckbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/tzCheckbox.css}"/>
    <link href="../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <link href="../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css"
          th:href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../resource/css/settlements.css" rel="stylesheet" th:href="@{/resource/css/settlements.css}"
          type="text/css"/>
    <link href="../resource/css/shouji.css" rel="stylesheet" th:href="@{/resource/css/shouji.css}" type="text/css"/>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery-1.7.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            th:src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script src="../resource/3rdParty/js/jquery.tzCheckbox.js"
            th:src="@{/resource/3rdParty/js/jquery.tzCheckbox.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../resource/lib/ajaxfileupload.js"
            th:src="@{/resource/lib/ajaxfileupload.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery.cityselect.js"
            th:src="@{/resource/3rdParty/js/jquery.cityselect.js}"></script>
    <style>
        #jbox {
            left: 20%;
        }
    </style>
</head>
<script th:inline="javascript">
    function init() {
        var pro = /*[[${searchCondition.province}]]*/;
        var city = /*[[${searchCondition.city}]]*/;
        var dist = /*[[${searchCondition.district}]]*/;
        $("#citys").citySelect({
            url: "/resource/3rdParty/js/jquery.cityselect.js",
            prov: pro != null ? pro : '',
            city: city != null ? city : '',
            dist: dist != null ? dist : '',
            nodata: null,
            required: true
        });
    }

    function changeStatus(obj) {
        var shopId = $(obj).attr("shopid");
        $.ajax({
            type: 'POST',
            url: "/shop/changeStatus",
            data: {
                id: shopId,
                type: 'ToFactory'
            },
            success: function (result) {
                if (result.code == 200) {
                    $.jBox.tip(result.msg, "success");
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
                } else {
                    $.jBox.tip(result.msg, 'error');
                }
            }
        });
    }

    function toEdit(obj) {
        var shopId = $(obj).attr("shopid");
        window.location.href = '/shop/addShopPage?id=' + shopId;
    }

    function toDel(obj) {
        var shopId = $(obj).attr("shopid");
        jboxConfirm("确定删除?", function () {
            $.jBox.tip("正在删除...", "loading");
            J.GetJsonRespons("/shop/delete", {
                id: shopId
            }, function (result) {
                if (result.code == 200) {
                    $.jBox.tip(result.msg, "success");
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
                } else {
                    $.jBox.tip(result.msg, 'error');
                }
            }, function () {
            }, J.PostMethod);
        });
    }

    function jboxConfirm(msg, callback) {
        jBox.confirm(msg, '提示', function (v, h, f) {
            if (v == "ok") {
                callback();
            }
            return true;
        });
    }

    function showDetail(obj) {
        var shopId = $(obj).attr("shopid");
        window.location.href = '/shop/addShopPage?id=' + shopId;
    }

    function searchShop() {
        $('#current-index').val(1);
        $('#form1').submit();
    }

    function searchShopAll() {
        window.location.href = '/shop/shopList';
    }

</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    //#region 导出助手
    var exportHelper = {};
    exportHelper.init = function () {
        $('.OnlyNum').OnlyNum();
    };

    exportHelper.checkPage = function (txtBeginPage, txtEndPage) {
        var numberBug = pageCount;//总页数
        if (txtBeginPage == '' || txtEndPage == '') {
            return {flag: false, msg: '请输入正确的起止页码'};
        }
        var beginPage = parseInt(txtBeginPage);
        var endPage = parseInt(txtEndPage);
        if (endPage < beginPage) {
            return {flag: false, msg: '结束页不能小于起始页'};
        }
        if (endPage > numberBug) {
            return {flag: false, msg: '结束页不能大于总页数'};
        }
        var _maxPage = 500;
        if (endPage - beginPage >= _maxPage) {
            $('#txtEndPage').focus().select();
            return {flag: false, msg: '最多导出' + _maxPage + '页'};
        }
        return {flag: true};
    };

    exportHelper.showDialogV2 = function () {
        var txtBeginPage = $("#txtBeginPage").val();
        var txtEndPage = $("#txtEndPage").val();
        var chkResult = this.checkPage(txtBeginPage, txtEndPage);
        if (!chkResult.flag) {
            jBox.tip(chkResult.msg, 'info');
            return;
        }
        var name = $("#name").val();
        var province = $("#province").val();
        var city = $("#city").val();
        var district = $("#district").val();
        var status = $("#status").val();
        var url = /*[[@{/shop/exportExcel}]]*/ "";
        if (province == null) {
            province = '';
        }
        if (city == null) {
            city = '';
        }
        if (district == null) {
            district = '';
        }

        url += '?rnd=' + Math.random()
                + '&name=' + name
                + '&province=' + province
                + '&city=' + city
                + '&district=' + district
                + '&status=' + status
                + '&txtBeginPage=' + txtBeginPage
                + '&txtEndPage=' + txtEndPage
        ;
        window.location.href = url;
    };
    //#endregion
    $(function () {
        exportHelper.init();
        if (0 == 0) {
            $(".shipFunc").hide();
        }
    });
    var viewModel;
    /*]]>*/
</script>
<body marginwidth="0" marginheight="0" onload="init()">
<form method="get" action="/order/getOrdersPage" th:action="@{/shop/shopList}" id="form1"
      th:object="${searchCondition}">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block">
            <div class="h">
                <span class="icon-sprite icon-magnifier"></span>
                <h3>门店筛选</h3>
            </div>
            <div class="cnt-wp">
                <div class="cnt">
                    <div class="search-bar">
                        <label class="first ">门店名称：</label>
                        <input name="name" type="text" id="name" class="input-small" style="width: 120px;"
                               th:value="*{name}"/>
                        <label class="first ">门店区域：</label>
                        <span id="citys">
                            <select class="prov" name="province" id="province" th:value="*{province}"></select>
                            <select class="city" name="city" id="city" disabled="disabled" th:value="*{city}"></select>
                            <select class="dist" name="district" id="district" disabled="disabled"
                                    th:value="*{district}"></select>
                        </span>
                        <label class="first ">审核状态：</label>
                        <select name="status" id="status">
                            <option selected="selected" value="-1">==所有==</option>
                            <option value="0" th:selected="*{status==0}">未提交</option>
                            <option value="1" th:selected="*{status==1}">待审核</option>
                            <option value="2" th:selected="*{status==2}">审核通过</option>
                            <option value="3" th:selected="*{status==3}">审核不通过</option>
                        </select>
                        <style type="text/css">
                            #raSortType label {
                                padding-left: 0px;
                            }
                        </style>
                        <label><a class="btn-lit btn-middle" id="search" href="javascript:searchShop();"
                                  style="margin-bottom: 3px;"><span>搜索</span></a></label>
                        <label><a class="btn-lit btn-middle" id="searchAll" href="javascript:searchShopAll();"
                                  style="margin-bottom: 3px;"><span>显示全部</span></a></label>
                        <br/>
                        <br/>
                        <label class="first ">导出门店：</label>
                        第<input name="txtBeginPage" type="text" value="1" id="txtBeginPage"
                                style="height:15px;width:28px;"/>页
                        至 第<input name="txtEndPage" type="text" value="5" id="txtEndPage" th:value="${totalPages}"
                                  class="input-small OnlyNum"
                                  style="height:15px;width:28px;"/>页
                        <label>
                            <a id="A1" class="btn-lit btn-middle" style="margin-bottom: 3px;"
                               href="javascript:exportHelper.showDialogV2();">
                                <span>导出门店信息</span>
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank10">
        </div>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>
                <h3 style="float: left; width: 144px;">门店管理 </h3>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp">
                <div class="om-tabs-panels om-widget-content om-corner-bottom">
                    <div class="om-widget om-panel ">
                        <div id="Div2"
                             class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                            <div class="cnt">
                                <table class="data-table even1" width="100%" border="0"
                                       cellspacing="0"
                                       cellpadding="0">
                                    <tr>
                                        <th scope="col"></th>

                                        <th scope="col">门店名称
                                        </th>

                                        <th scope="col">用户名
                                        </th>

                                        <th scope="col">联系人
                                        </th>

                                        <th scope="col">手机号码
                                        </th>

                                        <th scope="col">地区
                                        </th>

                                        <th scope="col">门店审核状态
                                        </th>

                                        <th scope="col">账号状态
                                        </th>

                                        <th scope="col" width="70px">操作
                                        </th>
                                    </tr>
                                    <tbody>
                                    <tr th:each="shop:${shopList}">
                                        <td class="txt20 c" th:text="${shopStat.count}">
                                            1
                                        </td>
                                        <td class="txt80">
                                            <a href="javascript:void(0)" onclick="showDetail(this)"
                                               style="color: #6699d5" th:attr="shopid=${shop.id}"
                                               th:text="${shop.name}"></a>
                                        </td>
                                        <td class="txt80" th:text="${shop.username}">
                                        </td>
                                        <td class="txt80" th:text="${shop.Contact}">
                                        </td>
                                        <td class="txt80" th:text="${shop.mobile}">
                                        </td>
                                        <td class="txt80"
                                            th:text="${shop.province}!=null ? |${shop.province}—${shop.city}—${shop.district}| : ''">
                                        </td>
                                        <td class="txt40" style="color: #9c0901" th:text="${shop.status.value}">
                                        </td>
                                        <td class="txt40" style="color: #9c0901" th:text="${shop.isAccountNonLocked()} ? '激活':'冻结'">
                                        </td>
                                        <td class="txt40 c tail">
                                            <div>
                                                <a href="javascript:void(0)" onclick="changeStatus(this)"
                                                   th:attr="shopid=${shop.id}"
                                                   th:if="${shop.status.code} == 0 or ${shop.status.code}==3">提交&nbsp;</a>
                                                <a href="javascript:void(0)" onclick="toEdit(this)"
                                                   th:attr="shopid=${shop.id}"
                                                   th:if="${shop.status.code}!=2">编辑&nbsp;</a>
                                                <a href="javascript:void(0)" onclick="toDel(this)"
                                                   th:attr="shopid=${shop.id}"
                                                   th:if="${shop.status.code}!=2">删除&nbsp;</a>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <script type="text/javascript" th:inline="javascript">
                                /*<![CDATA[*/
                                var pageSize = /*[[${pageSize}]]*/ '-1';
                                var pageIndex = /*[[${pageIndex}]]*/ '-1';
                                var pageCount = /*[[${totalPages}]]*/ '-1';
                                var recordCount = /*[[${totalRecords}]]*/ '-1';
                                var formName = 'form1';
                                //                                    var pageNoStr = 'pageNoStr';
                                Pager.Output(formName, 'pageIndex', pageSize, pageIndex, pageCount, recordCount);

                                /*]]>*/
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="audit_dialog" style="display: none;"></div>
</body>
</html>