<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>门店信息</title>
    <link href="../resource/3rdParty/css/tzCheckbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/tzCheckbox.css}"/>
    <link href="../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <link href="../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css"
          th:href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../resource/css/settlements.css" rel="stylesheet" th:href="@{/resource/css/settlements.css}"
          type="text/css"/>
    <link href="../resource/css/shouji.css" rel="stylesheet" th:href="@{/resource/css/shouji.css}" type="text/css"/>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery-1.7.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            th:src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script src="../resource/3rdParty/js/jquery.tzCheckbox.js"
            th:src="@{/resource/3rdParty/js/jquery.tzCheckbox.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../resource/lib/ajaxfileupload.js"
            th:src="@{/resource/lib/ajaxfileupload.js}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery.cityselect.js"
            th:src="@{/resource/3rdParty/js/jquery.cityselect.js}"></script>

    <style type="text/css">
        body, td, th {
            font-family: "微软雅黑", "宋体", Arial;
        }

        .spModuleTitle {
            padding: 3px 10px 0px 10px;
            font-size: 16px;
            font-weight: bold;
            font-family: 微软雅黑;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="shop" type="com.huotu.agento2o.service.entity.author.Shop"*/-->
<form action="#" method="post" id="shopConfigForm" th:object="${shop}">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>
                <h3><B style="font-size: 120%">门店信息</B></h3>
            </div>
            <div class="cnt-wp">
                <div class="cnt form">
                    <div>
                        <span style="color:#6699d5" class="spModuleTitle">登录信息</span>
                        <div class="division">
                            <input style="display: none" th:field="*{id}" th:value="*{id}" id="shopID"/>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>用户名:</th>
                                    <td>
                                        <span type="text" class="input-normal" id="username"
                                              th:text="*{username}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div>
                        <span style="color:#6699d5" class="spModuleTitle">账号绑定</span>
                        <div class="division">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td colspan="2"><B style="font-size: 120%">绑定上级代理商账号</B></td>
                                </tr>
                                <tr>
                                    <th>上级代理商等级:</th>
                                    <td>
                                        <span type="text" class="input-normal" readonly="readonly"
                                              th:text="*{parentAuthor.agentLevel.levelName}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>上级代理商账户:</th>
                                    <td>
                                        <span type="text" class="input-normal" id="author" readonly="readonly"
                                              th:text="*{parentAuthor.username}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><B style="font-size: 120%">绑定小伙伴账号</B></td>
                                </tr>
                                <tr>
                                    <th>小伙伴用户名:</th>
                                    <td>
                                        <span type="text" class="input-normal"
                                              th:value="*{userBaseInfo == null ? '':userBaseInfo.loginName}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div>
                        <span style="color:#6699d5" class="spModuleTitle">门店基本资料</span>
                        <div class="division">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <th>门店所在区域:</th>
                                    <td>
                                        <div id="citys">
                                            <span th:text="|*{province} *{city} *{district}|"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>门店名称:</th>
                                    <td>
                                        <span type="text" class="input-normal" id="name" th:text="*{name}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>联系人:</th>
                                    <td>
                                        <span type="text" class="input-normal" id="contact" th:text="*{contact}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>手机号码:</th>
                                    <td>
                                        <span type="text" class="input-normal" id="mobile" th:text="*{mobile}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>电话号码:</th>
                                    <td>
                                        <span type="text" class="input-normal" id="telephone"
                                              th:text="*{telephone}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>E-mail:</th>
                                    <td>
                                        <span type="text" class="input-normal" id="email"
                                              th:text="*{email}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>详细地址:</th>
                                    <td>
                                        <span type="text" id="address" th:text="*{address}"
                                              class="input-normal" style="width: 300px;"></span><br/>
                                        <div style="margin-top:10px; ">
                                            经度:
                                            <span type="text" readonly="readonly" id="lan" th:text="*{lan}"
                                                  class="input-normal" style="width: 100px;"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            纬度:
                                            <span type="text" readonly="readonly" id="lat" th:text="*{lat}"
                                                  class="input-normal" style="width: 100px;"></span>
                                        </div>
                                        <div id="addrMap"
                                             style="margin-top:10px;
                                             width: 500px;height: 300px;
                                             border: 1px solid gray;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>备注:</th>
                                    <td>
                                        <span type="text" rows="6" style="width: 80%" id="comment"
                                              th:text="*{comment}"></span>
                                    </td>
                                </tr>
                                <tr th:if="*{auditComment!=null and auditComment!=''} ">
                                    <th>审核意见:</th>
                                    <td>
                                        <span type="text" rows="6" style="width: 80%"
                                              th:text="*{auditComment}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div style="text-align: right;">
                        <a class="btn-lit" href="javascript:goBack();" id="saveAgent"><span>返回</span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
<div id="audit_dialog" style="display: none;"></div>
<script th:inline="javascript">
    function goBack(){
        window.location.href=document.referrer;
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*百度地图API相关*/
    var map = new BMap.Map("addrMap");
    var shoplan = /*[[${shop.lan}]]*/"";
    var shoplat = /*[[${shop.lat}]]*/"";
    map.centerAndZoom(new BMap.Point(shoplan, shoplat), 10);
    map.enableScrollWheelZoom(true);    //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom(true);     //启用地图惯性拖拽，默认禁用
    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
    map.addControl(new BMap.OverviewMapControl()); //添加默认缩略地图控件
    var geoc = new BMap.Geocoder();     //地址逆向解析
    var localSearch = new BMap.LocalSearch(map); //搜索范围
    localSearch.enableAutoViewport(); //允许自动调节窗体大小

    function setmarker(lng, lat) {
        var marker = new BMap.Marker(new BMap.Point(lng, lat));  // 创建标注，为要查询的地方对应的经纬度
        map.clearOverlays(); //清空原来的标注
        map.addOverlay(marker);
    }

    //添加标注
    if ($.trim($("#lan").text()).length != 0 && $.trim($("#lat").text()).length) {
        setmarker($("#lan").text(), $("#lat").text());
    }
    /*]]>*/
</script>
</body>
</html>

