/*
 * 版权所有:杭州火图科技有限公司
 * 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
 *
 * (c) Copyright Hangzhou Hot Technology Co., Ltd.
 * Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
 * 2013-2016. All rights reserved.
 *
 */
.panel {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fcfcfc;
    border: 0;
    -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
    box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
}

.panel-default {
    border-color: #ddd;
}

.panel {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default > .panel-heading {
    border-color: #e7e7e7;
    background-color: #fff;
}

.panel-heading {
    padding: 4px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-title {
    font-size: 14px;
    color: #111;
    /* font-family: 'LatoBold'; */
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
}

.panel-heading p {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #77818e;
}

.panel-body {
    padding: 10px 15px 0px 15px;
}

.tooltip-example .btn, .popover-example .btn {
    margin: 0 5px 5px 0;
}

.btn {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    line-height: 21px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    padding: 6px 15px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: "微软雅黑";
}

.panel-btns a:hover {
    text-decoration: none;
    opacity: 0.5;
    cursor: pointer;
}

.panel-btns a {
    margin-left: 8px;
    float: right;
    color: #000;
    display: inline-block;
    font-weight: bold;
    opacity: 0.4;
    font-size: 14px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background: #f7f7f7;
    border-color: #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn-default {
    background: #e4e7ea;
    color: #636e7b;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.jinriyewu {
    padding-left: 5px;
}

.jinriyewu ul {
    list-style-type: none;
}

.jinriyewu ul li {
    width: 220px;
    float: left;
    border: 1px solid #ccc;
    margin: 2px 10px;
    padding: 4px 10px;
    border-radius: 0px;
    color: #000;
    font-size: 14px;
}

.jinriyewu ul li span {
    float: right;
}

.navke {
    padding: 0px 10px 1px 10px;
}

.navxinwenke {
    padding: 10px 15px 10px 15px;
}

.navxinwenke ul {
    list-style-type: none;
}

.navxinwenke ul li {
    width: 450px;
    float: left;
    margin-right: 30px;
    background-color: rgb(240, 240, 240);
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    padding: 0px 10px;
}
.warning {
    border: 1px solid #FFB03F;
    background: #FFF176;
}

.warning, .err, .succes {
    float: left;
    width: 270px;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.succes {
    background: #FFFFFF;
    border: 1px solid #49CC00;
}

.warning .warn_icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 6px 10px;
    color: #FF7E00;
    font-size: 18px;
}

a.close {
    float: right;
    color: #555;
    font-size: 14px;
    padding: 5px;
    display: inline;
    margin-right: 5px;
    font-weight: bold;
    display: none;
}

.desc span {
    float: left;
    width: 210px;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 2px;
    margin-top: 5px;
    color: #111;
}

.succes .succes_icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 6px 10px;
    color: #32DC00;
    font-size: 18px;
}

