/*登录界面样式**/
body {
    color: #000;
    background: #fff;
    font-size: 12px;
    line-height: 166.6%;
    text-align: center;
}

body.move {
    -webkit-transition: padding 0.3s ease;
    -moz-transition: padding 0.3s ease;
    -o-transition: padding 0.3s ease;
    -ms-transition: padding 0.3s ease;
    transition: padding 0.3s ease;
}

body, input, select, button {
    font-family: "微软雅黑", verdana;
}

h1, h2, h3, select, input, button {
    font-size: 100%;
}

body, h1, h2, h3, ul, li, form, p, img {
    margin: 0;
    padding: 0;
    border: 0;
}

input, button, select, img {
    margin: 0;
    line-height: normal;
}

select {
    padding: 1px;
}

ul {
    list-style: none;
}

select, input, button, button img, label {
    vertical-align: middle;
}

header, footer, section, aside, nav, hgroup, figure, figcaption {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
    color: #959595;
}

a:hover {
    color: #626262;
}

/* global */
/* backgroundImage */
.themeCtrl a, .themeText li, .btn, .btn-moblogin, .ico, #extText li { /*background-image: url(/Content/images/dl/bg_v3.png);*/
}

/* yixin */
/* ico */
.ico-uid {
    width: 14px;
    height: 16px;
    background-position: -154px -64px;
}

.loginFormConf a:hover {
    background-position: -176px -110px;
}

* + html {
    background-position: -160px -112px;
}

* + html .loginFormConf a:hover .ico-arr-d, * + html .loginFormConf a:hover .ico-arr-d, * + html .ico-arr-d-focus {
    background-position: -176px -112px;
}

/* header */
.header {
    width: 1000px;
    height: 121px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
}

.headerNav a {
    padding: 0px 6px;
    display: inline-block;
    color: #000;
}

/* main */
.main {
    height: 611px;
    background: #fff;
    position: relative;
    min-width: 1000px;
}

.themeText li {
    line-height: 22px;
    -line-height: 24px;
    height: 24px;
    color: #858686;
    text-indent: 12px;
    background-position: -756px -72px;
    background-repeat: no-repeat;
}

.themeText li a {
    color: #005590;
    text-decoration: underline;
}

.tab-2 .loginFuncDynPw .loginIcoCurrent, .tab-1 .loginFuncNormal .loginIcoCurrent, .tab-11 #extVerSelect, .tab-1 #lfBtnReg1 {
    display: block;
}

.tab-11 #extText, .tab-2 #lfBtnReg {
    display: none;
}

/* form */
.loginFormIpt showPlaceholder {
    position: relative;
    width: 360px;
    height: 42px;
    line-height: 42px;
    margin: 0 0 10px 25px;
    padding: 10px;
    clear: both;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4);
    border: solid 1px #D8D8D8;
}

.loginFormIpt {
    position: relative;
    width: 360px;
    height: 44px;
    line-height: 42px;
    margin: 0 0 10px 25px;
    padding: 10px;
    clear: both;
    z-index: 2;
}

.loginFormIpt .ico {
    position: absolute;
    left: 9px;
    top: 13px;
    z-index: 1;
}

.loginFormIpt-focus .placeholder {
    color: #C9C9C9;
}

.formIpt {
    position: relative;
    width: 330px;
    height: 21px;
    line-height: 21px;
    padding: 10px;
    clear: both;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4);
    border: solid 1px #D8D8D8;
}

.formIpt:focus {
    outline: 0;
}

.showPlaceholder {
    visibility: visible;
    cursor: text;
}

.loginFormVerList li a {
    height: 22px;
    line-height: 22px;
    width: 140px;
    overflow: hidden;
    color: #848585;
    display: block;
    text-indent: 22px;
}

.loginFormVerList li a:hover {
    background-color: #eef3f8;
}

.loginFormVerList li a.verSelected {
    color: #5B8CCA;
    background-position: -250px -58px;
    background-repeat: no-repeat;
}

#extText li {
    padding-left: 7px;
    background-position: -240px -118px;
    background-repeat: no-repeat;
}

#extText li a {
    color: #9bacc6;
}

#extText li a:hover {
    color: #5B8CCA;
}

#extVerSelect a {
    color: #005590;
    text-decoration: underline;
}

/* tab-2 */
/* footer */
.footer {
    height: 65px;
    margin: 0 auto;
}

.footer-inner {
    width: 1200px;
    height: 63px;
    overflow: visible;
    margin: 0 auto;
    color: #848585;
    position: relative;
}

.footerNav {
    top: 25px;
    right: 0px;
    left: 0px;
}

.footerNav a {
}

.copyright {
}

#mobtips em {
    font-style: normal;
    color: #328721;
}

#mobtips a {
    text-decoration: underline;
    color: #005590;
}

/* mask */
.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    z-index: 998;
}

/* 加密http登录弹窗 */
.enhttp .topborder, .enhttp .bottomborder, .enhttp .ct, .enhttp .cldenhttp, .enhttp .ct .inner .httplogin {
    background-image: url(/resource/lib/images/bg_httplogin.gif);
    background-color: transparent;
    background-repeat: no-repeat;
    text-decoration: none;
}

.enhttp {
    width: 420px;
    height: 270px;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    top: 0;
    left: 50%;
    margin-left: -210px;
    top: 50%;
    margin-top: -135px;
}

.enhttp .topborder {
    width: 418px;
    height: 2px;
    font-size: 1px;
    overflow: hidden;
    margin: 0 auto;
    background-position: 0 -108px;
}

.enhttp .bottomborder {
    width: 418px;
    height: 2px;
    font-size: 1px;
    overflow: hidden;
    margin: 0 auto;
    background-position: 0 -110px;
}

.enhttp .ct {
    width: 418px;
    height: 266px;
    background-position: 0 -134px;
    background-color: #fff;
    border-left: 1px solid #82aecd;
    border-right: 1px solid #82aecd;
    position: relative;
    overflow: hidden;
}

.enhttp .ct .inner {
    padding-top: 40px;
    margin: 0 auto;
}

.enhttp .ct .inner p {
    font-size: 14px;
}

.enhttp .ct .inner .txt-tips {
    color: #737373;
    line-height: 30px;
    width: 325px;
    display: inline;
}

.enhttp .ct .inner .txt-normal {
    line-height: 30px;
    width: 325px;
    margin: 10px 0 0 46px;
}

.enhttp .ct .inner .httplogin {
    font-size: 14px;
    height: 34px;
    width: 120px;
    display: block;
    background-position: -432px -108px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.enhttp .ct .inner .txt-line {
    width: 325px;
    margin-left: 46px;
    background: #b6cad9;
    height: 1px;
    overflow: hidden;
    font-size: 1px;
    margin-top: 24px;
}

.enhttp .ct .inner .txt-advice {
    line-height: 60px;
    width: 325px;
    color: #8d8d8d;
    margin-left: 46px;
}

.enhttp .ct .inner {
    margin-left: 20px;
    font-size: 14px;
}

.enhttp {
    height: 22px;
    width: 22px;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 6px;
    background-position: 0 -112px;
    text-indent: -9999px;
}

.enhttp .cldenhttp:hover {
    background-position: -22px -112px;
}

.enhttp .enhttpbox {
    position: absolute;
    z-index: 2;
    left: 0;
}

.enhttp {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 2px;
    z-index: 1;
    left: 0;
}

/* 测速 */
.locationTestTitle h3 {
    font-size: 12px;
}

.locationTestList li {
    padding: 2px;
    float: left;
    display: inline-block;
}

.locationTestList li a {
    height: 38px;
    width: 80px;
    display: block;
    line-height: 16px;
    padding-top: 10px;
    overflow: hidden;
    text-align: center;
    color: #000;
}

.locationTestList li a:hover {
    background-color: #eef3f8;
}

.verify-input-line .formIpt {
    left: 7px;
    width: 135px;
}

.verify-img-btn img {
    vertical-align: top;
}

.loginFormIpt select {
    border: 0px;
    font-size: 16px;
    text-align: center;
    width: 98%;
    margin: 0px 5px;
    height: 44px;
    color: #868686;
    vertical-align: central;
    background: rgba(255, 255, 255, 0.4);
    border: solid 1px #D8D8D8;
}

.buttons3 {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 6px 5px;
    margin: 0px 5px;
    width: 80%;
    color: #222;
    font-size: 16PX;
    border: 1px #464646 solid;
    font-family: "微软雅黑";
}

.buttons3:active {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 6px 5px;
    margin: 0px 5px;
    width: 80%;
    color: #222;
    font-size: 16PX;
    border: 1px #464646 solid;
    font-family: "微软雅黑";
}