<!DOCTYPE html>

<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>退货单列表</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <link href="../../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css"
          data-th-href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" data-th-href="@{/resource/css/settlements.css}"
          type="text/css"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.7.2.min.js"
            data-th-src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            data-th-src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            data-th-src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            data-th-src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="../../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            data-th-src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            data-th-src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
</head>
<body>
<!--/*@thymesVar id="searchCondition" type="com.huotu.agento2o.service.searchable.ReturnedOrderSearch"*/-->
<form method="get" action="/returnedOrder/showReturnedOrderList" data-th-action="@{/returnedOrder/showReturnedOrderList}" id="form1"
      th:object="${searchCondition}">


    <div class="blank10">
    </div>
    <div class="search block" style="display: block;">
        <div class="h">
            <span class="icon-sprite icon-magnifier"></span>
            <h3>退货单列表</h3>
        </div>
        <div class="tl corner">
        </div>
        <div class="tr corner">
        </div>
        <div class="br corner">
        </div>
        <div class="cnt-wp" style="padding: 35px 10px 10px;">
            <div class="cnt">
                <div class="search-bar">
                    <div>
                        <label class="first">退货单号：</label>
                        <input name="rOrderId" type="text" th:value="*{ROrderId}"
                               class="input-small" style="width: 120px;"/>
                        <br />
                        <br />

                        <label class="first ">审核状态：</label>
                        <select name="orderStatus" id="orderStatus">
                            <option selected="selected" value="-1" th:selected="*{orderStatus == -1}" >==所有==</option><!--th:selected="*{shipStatus == -1}"-->
                            <!--/*@thymesVar id="shipStatusEnums" type="com.huotu.hotsupplier.common.ienum.OrderEnum.ShipStatus"*/-->
                            <option th:each="orderStatusEnum:${orderStatusEnums}" th:value="${orderStatusEnum.code}" th:text="${orderStatusEnum.value}" th:selected="${orderStatusEnum.code == searchCondition.orderStatus}">未发货</option>
                        </select>

                        <label class="first ">退货状态：</label>
                        <select name="shipStatus" id="shipStatus">
                            <option selected="selected" value="-1" th:selected="*{shipStatus == -1}" >==所有==</option><!--th:selected="*{shipStatus == -1}"-->
                            <!--/*@thymesVar id="shipStatusEnums" type="com.huotu.hotsupplier.common.ienum.OrderEnum.ShipStatus"*/-->
                            <option th:each="shipStatusEnum:${shipStatusEnums}" th:value="${shipStatusEnum.code}" th:text="${shipStatusEnum.value}" th:selected="${shipStatusEnum.code == searchCondition.shipStatus}">未发货</option>
                        </select>

                        <label class="first ">退款状态：</label>
                        <select name="payStatus" id="payStatus">
                            <option selected="selected" value="-1" th:selected="*{payStatus == -1}">==所有==</option><!--th:selected="*{shipStatus == -1}"-->
                            <!--/*@thymesVar id="shipStatusEnums" type="com.huotu.hotsupplier.common.ienum.OrderEnum.ShipStatus"*/-->
                            <option th:each="payStatusEnum:${payStatusEnums}" th:value="${payStatusEnum.code}" th:text="${payStatusEnum.value}" th:selected="${payStatusEnum.code == searchCondition.payStatus}">未发货</option>
                        </select>

                        <br />
                        <br />

                        <label class="first ">申请时间：</label>
                        <input name="beginTime" type="text" id="beginTime" placeholder=" [开始日期]"
                               class="input-normal Wdate" th:value="*{beginTime}"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"/>---
                        <input name="endTime" type="text" id="endTime" placeholder=" [结束日期]"
                               class="input-normal Wdate" th:value="*{endTime}"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'beginTime\')}'})"/>

                        <label>
                            <a class="btn-lit btn-middle" onclick="searchReturnedOrder()" style="margin-bottom: 3px;">
                                <span>查询</span>
                            </a>
                        </label>
                        <label><a class="btn-lit btn-middle" id="searchAll" href="javascript:searchReturnOrderAll();"
                                  style="margin-bottom: 3px;"><span>显示全部</span></a></label>
                        <br/>
                        <br/>
                        <label class="first ">导出退货单：</label>
                        第<input name="txtBeginPage" type="text" value="1" id="txtBeginPage"
                                style="height:15px;width:28px;"/>页
                        至 第<!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
                        <input name="txtEndPage" type="text" value="5" id="txtEndPage" th:value="${totalPages}" class="input-small OnlyNum"
                                  style="height:15px;width:28px;"/>页

                        <label>
                            <a id="A1" class="btn-lit btn-middle" style="margin-bottom: 3px;" href="javascript:exportHelper.showDialogV2();">
                                <span>导出主退货单</span>
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="block">

        <div class="cnt-wp" style="padding: 10px 10px 10px;display: block;">
            <div class="cnt">
                <table class="data-table even1" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr class="even">

                        <th scope="col">退单号
                        </th>
                        <th scope="col">货品名称
                        </th>
                        <th scope="col">申请时间
                        </th>
                        <th scope="col">配送方式
                        </th>
                        <th scope="col">金额
                        </th>
                        <th scope="col">原因说明
                        </th>
                        <th scope="col">审核状态
                        </th>
                        <th scope="col">发货状态
                        </th>
                        <th scope="col">付款状态
                        </th>
                        <th scope="col">操作
                        </th>
                    </tr>
                    </thead>
                    <tbody data-th-remove="all-but-first">
                    <!--@thymesVar id="agentReturnedOrderList" type="java.util.List<com.huotu.agento2o.service.entity.purchase.AgentReturnedOrder>"-->
                    <tr data-th-each="agentReturnOrder,agentReturnOrderStat:${agentReturnedOrderList}" data-th-id="${agentReturnOrder.ROrderId}">

                        <td class="txt60">
                            <a href="javascript:void(0)" th:onclick="|showReturnedOrderDetail('${agentReturnOrder.rOrderId}')|" onclick="showReturnedOrderDetail()">
                                <span th:text="${agentReturnOrder.ROrderId}">rOrderId</span>
                            </a>
                            <span th:if="${agentReturnOrder.disabled}" style="color:red;">（已关闭）</span>
                        </td>
                        <td class="txt160 c" style="padding: 10px 0px;">
                            <span style="width: 20%;float: left;">
                                    <img th:src="${agentReturnOrder.orderItemList.size() >0 and agentReturnOrder.orderItemList[0].picUri !=null ? agentReturnOrder.orderItemList[0].picUri : ''}"
                                         style="width:50px;height:50px;float:left;margin-left: 5px;"/>
                                </span>
                                <span style="overflow: hidden;text-align: left; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical; width:60%; float:left;margin-top:10px;"
                                      data-th-text="${agentReturnOrder.orderItemList.size() >0 ? agentReturnOrder.orderItemList[0].name : ''}">商品名称</span>
                            <a style="margin-top:10px;margin-right: 5px;float:right;" th:if="${agentReturnOrder.orderItemList.size() > 1}"
                               href="javascript:void(0)" th:onclick="|showReturnedOrderDetail('${agentReturnOrder.rOrderId}')|" title="更多"> 更多...</a>
                        </td>
                        <td class="txt80 c" data-th-text="${#calendars.format(agentReturnOrder.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            申请时间
                        </td>
                        <td class="txt60 c" data-th-text="${agentReturnOrder.sendmentStatus.getValue()}">
                            物流快递
                        </td>
                        <td class="txt80 c">
                             ￥<span data-th-text="${agentReturnOrder.finalAmount}">100</span>
                        </td>
                        <td class="txt100 c" data-th-text="${agentReturnOrder.authorComment}">
                            1000
                        </td>
                        <td class="txt80 c" data-th-text="${agentReturnOrder.status.value}" style="color:red;">
                            审核状态
                        </td>
                        <td class="txt80 c" data-th-text="${agentReturnOrder.shipStatus.value}" style="color:red;">
                            发货状态
                        </td>
                        <td class="txt80 c" data-th-text="${agentReturnOrder.payStatus.value}" style="color:red;">
                            付款状态
                        </td>
                        <td class="txt100 c">
                            <a href="javascript:void(0)" th:attr="rOrderId=''+${agentReturnOrder.ROrderId}" th:onclick="|showReturnedOrderDetail('${agentReturnOrder.rOrderId}')|" title="查看">查看</a>
                            <span th:if="${agentReturnOrder.deletable()}"> | </span>
                            <a th:if="${agentReturnOrder.deletable()}" href="javascript:void(0)"  th:onclick="|cancelReturnedOrder('${agentReturnOrder.rOrderId}')|" onclick="cancelReturnedOrder()" title="取消退货">删除</a>
                            <span th:if="${agentReturnOrder.deliverable()}"> | </span>
                            <a th:if="${agentReturnOrder.deliverable()}" href="javascript:void(0)"  th:onclick="|deliverReturnedOrder('${agentReturnOrder.rOrderId}')|" onclick="deliverReturnedOrder()" title="发货">退货</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--分页开始-->
            <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var pageSize = /*[[${pageSize}]]*/ '-1';
            var pageIndex = /*[[${pageIndex}]]*/ '-1';
            var pageCount = /*[[${totalPages}]]*/ '-1';
            var recordCount = /*[[${totalRecords}]]*/ '-1';
            var formName = 'form1';
            Pager.Output(formName, 'pageIndex', pageSize, pageIndex, pageCount, recordCount);
            /*]]>*/
            </script>
            <!--分页结束-->
        </div>

        <p style="clear: both"></p>
    </div>
</form>
<script type="application/javascript" data-th-inline="javascript">
    /*<![CDATA[*/

    var basicUrl = /*[[@{/returnedOrder}]]*/ "/returnedOrder";

    function searchReturnedOrder() {

        $("input[name=pageIndex]").val(1);
        $('#form1').submit();
    }

    function cancelReturnedOrder(rOrderId){

        $.jBox.confirm("确定要取消该退货申请吗？","提示",function(v){
            if(v == 'ok'){

                $.jBox.tip("正在取消...", "loading");
                $.ajax({
                    url:basicUrl+"/cancelReturnOrder",
                    type:"get",
                    data:{
                        rOrderId:rOrderId
                    },
                    dataType: "json",
                    success:function(result){
                        if(result.code == 200){
                            $.jBox.tip(result.msg, "success");
                            location.reload();
                        }else{
                            $.jBox.tip(result.msg, "error");
                        }
                    },
                    error: function () {
                        $.jBox.tip("发生错误", "error");
                    }
                });
            }
        });
    }

    //#region 导出助手
    var exportHelper = {};

    exportHelper.checkPage = function (txtBeginPage, txtEndPage) {
        var numberBug = pageCount;//总页数
        if (txtBeginPage == '' || txtEndPage == '') {
            return {flag: false, msg: '请输入正确的起止页码'};
        }
        var beginPage = parseInt(txtBeginPage);
        var endPage = parseInt(txtEndPage);
        if (endPage < beginPage) {
            return {flag: false, msg: '结束页不能小于起始页'};
        }
        if (endPage > numberBug) {
            return {flag: false, msg: '结束页不能大于总页数'};
        }
        var _maxPage = 500;
        if (endPage - beginPage >= _maxPage) {
            $('#txtEndPage').focus().select();
            return {flag: false, msg: '最多导出' + _maxPage + '页'};
        }
//            return {flag: true, msg: ''};
        return {flag: true};
    };

    exportHelper.showDialogV2 = function () {
        var txtBeginPage = $("#txtBeginPage").val();
        var txtEndPage = $("#txtEndPage").val();

        var chkResult = this.checkPage(txtBeginPage, txtEndPage);
        if (!chkResult.flag) {
            jBox.tip(chkResult.msg, 'info');
            return;
        }
        var rOrderId = $("input[name=rOrderId]").val();
        var orderStatus = $("#orderStatus").val();
        var shipStatus = $("#shipStatus").val();
        var payStatus = $("#payStatus").val();
        var beginTime = $("#beginTime").val();
        var endTime = $("#endTime").val();

        var url = basicUrl + "/exportExcel";
        url += '?rnd=' + Math.random()
                + '&rOrderId=' + rOrderId
                + '&orderStatus=' + orderStatus
                + '&shipStatus=' + shipStatus
                + '&payStatus=' + payStatus
                + '&beginTime=' + beginTime
                + '&endTime' + endTime
                + '&beginPage=' + txtBeginPage
                + '&endPage=' + txtEndPage;
        window.location.href = url;
    };

    //采购退货单退货
    function deliverReturnedOrder(rOrderId){
        var deliveryUrl = /*[[@{/returnedOrder/showDelivery}]]*/ "/returnedOrder/showDelivery";
        var url =  deliveryUrl + "?rOrderId=" + rOrderId;
        J.PopupIFrame(url, "采购退货单退货", 900, 480, "ifrm", "", "auto", "");
    }

    function searchReturnOrderAll(){
        window.location.href = /*[[@{/returnedOrder/showReturnedOrderList}]]*/ "";
    }

    function showReturnedOrderDetail(rOrderId){
        window.location.href = basicUrl + "/showReturnedOrderDetail?rOrderId=" + rOrderId;
    }

    /*]]>*/
</script>
</body>
</html>