<!DOCTYPE html>

<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>确认采购单</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <link href="../../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css"
          data-th-href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" data-th-href="@{/resource/css/settlements.css}"
          type="text/css"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.7.2.min.js"
            data-th-src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            data-th-src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            data-th-src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            data-th-src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="../../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            data-th-src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            data-th-src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.cityselect.js" th:src="@{/resource/3rdParty/js/jquery.cityselect.js}"></script>
    <style type="text/css">
        .spModuleTitle {
            padding: 3px 10px 0px 10px;
            font-size: 16px;
            font-weight: bold;
            font-family: 微软雅黑;
        }

        .ononon {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 16px;
            height: 22px;
            display: none;
        }

        .option {
            float: left;
            position: relative;
            height: 38px;
            border: 2px solid #ddd;
            line-height: 38px;
            text-align: center;
            font-size: 14px;
            min-width: 2em;
            overflow: hidden;
            padding: 0 7px;
            background: #fff;
            margin: 0 10px 10px 0;
            word-break: break-all;
            color: #333;
            position: relative;
        }

        .option_selected {
            border-color: #ff8c00;
        }

        .division th {
            padding: 18px;
            text-align: right;
            white-space: nowrap;
            width: 140px;
            background: #E2E8EB;
            font-size: 14px;
            border-right: 1px solid #ccc;
        }

        .input-normal {
            width: 180px;
            border: 1px solid #ddd;
            height: 37px;
        }

        .division {
            border-top:  0px solid #ccc;
            border-left:  0px solid #ccc;
            border-right:  0px solid #ccc;
            border-bottom:  0px solid #ccc;
            background: #fff;
            margin: 10px;
            padding: 5px;
            line-height: 150%;
            white-space: normal;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="agentPurchaseOrder" type="com.huotu.agento2o.service.entity.purchase.AgentPurchaseOrder"*/-->
<form method="post" action="/purchase/showGoodsList" data-th-action="@{/purchase/showGoodsList}" id="form1"
      data-th-object="${agentPurchaseOrder}">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>
                <h3>采购信息核对</h3>
            </div>
            <div class="cnt-wp">
                <div class="cnt form">
                    <div>
                        <span class="spModuleTitle">收货人信息</span>
                        <a class="btn-lit" href="javascript:changeAddress();">
                            <span>选择收货信息</span></a>
                        <div class="division">

                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr >
                                    <th >收货人:</th>
                                    <td  style="border-top: 1px solid #ddd;">
                                        <input type="text" th:value="*{shipName}" name="shipName" disabled="disabled"
                                               class="input-normal"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>联系方式:</th>
                                    <td>
                                        <input type="text" th:value="*{shipMobile}" name="shipMobile" disabled="disabled"
                                               class="input-normal"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>收货人详细地址:</th>
                                    <td>
                                        <input type="text" th:field="*{shipAddr}" th:value="*{shipAddr}" id="supContact" disabled = "disabled"
                                               style="width: 50%;"
                                               class="input-normal"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <span class="spModuleTitle">选择配送方式</span>
                        <div class="division" style="height: 40px;" name="sendMode">
                            <!--/*@thymesVar id="sendmentEnum" type="com.huotu.agento2o.service.common.PurchaseEnum.SendmentStatus"*/-->
                            <span th:each="sendment,sendmentStat:${sendmentEnum}" class="option" th:classappend="${sendmentStat.index}==0?'option_selected'" th:value="${sendment.code}">
                                <span class="ononon" th:style="${sendmentStat.index}==0?'display: inline;':'display: none;'">
                                    <img src="../../resource/images/check.jpg" th:src="@{/resource/images/check.jpg}"/>
                                </span><th:block th:text="${sendment.value}"></th:block>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="spModuleTitle">开具发票</span>
                        <br/>
                        <div class="division" style="height: 40px;" name="invoiceInfo">
                            <!--/*@thymesVar id="taxTypeEnum" type="com.huotu.agento2o.service.common.PurchaseEnum.TaxType"*/-->
                            <span th:each="taxType:${taxTypeEnum}" class="option"
                                  th:classappend="${taxType.code == agentPurchaseOrder.taxType.code}?'option_selected':''" th:value="${taxType.code}" th:onclick="|changeInvoiceType(${taxType.code})|">
                                <span class="ononon" th:style="${taxType.code == agentPurchaseOrder.taxType.code}?'display: inline;':'display: none;'">
                                    <img src="../../resource/images/check.jpg" th:src="@{/resource/images/check.jpg}"/>
                                </span><th:block th:text="${taxType.value}"></th:block>
                            </span>
                        </div>
                        <div class="division js-normal" th:style="${agentPurchaseOrder.taxType.code != 1}?'display: none;'">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <th>发票抬头:</th>
                                    <td  style="border-top: 1px solid #ddd;">
                                        <!--/*@thymesVar id="invoiceConfig" type="com.huotu.agento2o.service.entity.config.InvoiceConfig"*/-->
                                        <input name="taxTitle" type="text" id="taxTitle" class="input-normal" th:value="${agentPurchaseOrder.taxType.code}==1?*{taxTitle}" style="width: 80%;"/></td>
                                </tr>
                                <tr>
                                    <th>发票内容:</th>
                                    <td colspan="3">
                                        <input name="taxContent" type="text" id="taxContent" class="input-normal" th:value="${agentPurchaseOrder.taxType.code}==1?*{taxContent}" style="width: 80%;"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="division js-tax"  th:style="${agentPurchaseOrder.taxType.code != 2}?'display: none;'">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <th>发票抬头:</th>
                                    <td  style="border-top: 1px solid #ddd;">
                                        <input name="taxTitle" type="text" id="tax_taxTitle" class="input-normal" th:value="${agentPurchaseOrder.taxType.code}==2?*{taxTitle}" style="width: 80%;"/></td>
                                </tr>
                                <tr>
                                    <th>发票内容:</th>
                                    <td colspan="3">
                                        <input name="taxContent" type="text" id="tax_taxContent" class="input-normal" th:value="${agentPurchaseOrder.taxType.code}==2?*{taxContent}" style="width: 80%;"/></td>
                                </tr>
                                <tr>
                                    <th>纳税人识别码:</th>
                                    <td colspan="3">
                                        <input name="taxpayerCode" type="text" id="tax_taxpayerCode" class="input-normal" th:value="${agentPurchaseOrder.taxType.code}==2?*{taxpayerCode}" style="width: 80%;"/></td>
                                </tr>
                                <tr>
                                    <th>开户银行名称:</th>
                                    <td>
                                        <input name="bankName" type="text" id="tax_bankName" class="input-normal" th:value="${agentPurchaseOrder.taxType.code}==2?*{bankName}" style="width: 80%"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>开户银行账号:</th>
                                    <td>
                                        <input name="accountNo" type="text" id="tax_accountNo" class="input-normal" th:value="${agentPurchaseOrder.taxType.code}==2?*{accountNo}"  style="width: 80%"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <span class="spModuleTitle">订单结算信息</span>
                        <div style="background: #fff;margin: 10px;padding: 5px;line-height: 150%;white-space: normal;">
                            <table class="data-table even1" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                <tr class="even">
                                    <th scope="col" style="text-align: center;">序号
                                    </th>
                                    <th scope="col" style="text-align: center;">商品名称
                                    </th>
                                    <th scope="col" style="text-align: center;">规格
                                    </th>
                                    <th scope="col" style="text-align: center;">订购价
                                    </th>
                                    <th scope="col" style="text-align: center;">库存
                                    </th>
                                    <th scope="col" style="text-align: center;">订购数量/单位
                                    </th>
                                    <th scope="col" style="text-align: center;">小计
                                    </th>
                                </tr>
                                </thead>
                                <tbody data-th-remove="all-but-first">
                                <!--@thymesVar id="shoppingCartList" type="java.util.List<com.huotu.agento2o.service.entity.purchase.ShoppingCart>"-->
                                <tr data-th-each="shoppingCart,shoppingCartStat:${shoppingCartList}"
                                    th:id="${shoppingCart.id}">
                                    <td class="txt20 c" data-th-text="${shoppingCartStat.count}">1</td>
                                    <td style="padding: 10px" class="txt120 c">
                           <span style="width: 20%;float: left;">
                               <img th:src="${shoppingCart.product.goods.picUri!=null?shoppingCart.product.goods.picUri:''}"
                                    style="vertical-align: top;width: 59px;height: 59px;border: 1px solid #eaeaea;"/>
                           </span>
                            <span style="width: 75%;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;
                            -webkit-line-clamp: 2;-webkit-box-orient: vertical;float: left;margin-right: 20px; margin-top: 16px"
                                  data-th-text="${shoppingCart.product.name}">商品名称</span>
                                    </td>
                                    <td class="txt40 c" data-th-text="${shoppingCart.product.standard}">
                                        规格描述
                                    </td>
                                    <td class="txt40 c" name="td-price">
                                        ￥<span data-th-text="${shoppingCart.product.price}" name="price">100</span>
                                    </td>
                                    <td class="txt40 c"
                                        data-th-text="${shoppingCart.product.authorStore}">
                                        1000
                                    </td>
                                    <td class="txt40 c" name="td-num">
                                        <span data-th-text="${shoppingCart.num}"></span>
                                        <span data-th-text="${shoppingCart.product.unit}"></span>
                                    </td>
                                    <td class="txt40 c" data-th-text="${shoppingCart.product.price * shoppingCart.num}">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div class="division">
                            <span style="font-size: 14px;">备注：</span>
                            <span><textarea rows="3" style="width: 90%" name="authorComment"/></span>

                        </div>
                    </div>
                    <div style="margin: 10px">
                        <div style="font-size: 14px; float: right">
                            <span>订单总计金额</span>
                            <span><b style=" color:#E33B3B; margin-right: 80px" th:text="${#aggregates.sum(shoppingCartList.![product.price * num])}"></b></span>
                        </div>
                        <p style="clear: both"></p>
                        <div style="float: right;margin-top: -21px;">
                            <a class="btn-lit" href="javascript:saveBasicConfig();" id="saveConfig"><span>提交订单</span></a>
                        </div>
                        <p style="clear: both"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="application/javascript" data-th-inline="javascript">
    /*<![CDATA[*/
    var basicUrl = /*[[@{/purchaseOrder}]]*/ "/purchaseOrder";
    $("span[class~=option]").on("click", function () {
        $(this).siblings("span[class~=option_selected]").removeClass("option_selected");
        $(this).addClass("option_selected");
        $(this).parent().find("span[class=ononon]").attr("style", "display: none;");
        $(this).find("span[class=ononon]").attr("style", "display: inline;");
    })

    function changeInvoiceType(type){
        if(type == 0){
            $("div[class~=js-normal]").hide();
            $("div[class~=js-tax]").hide();
        }else if(type == 1){
            $("div[class~=js-normal]").show();
            $("div[class~=js-tax]").hide();
        }else if(type == 2){
            $("div[class~=js-normal]").hide();
            $("div[class~=js-tax]").show();
        }
    }

    function changeAddress(){
        var url = /*[[@{/config/addressList}]]*/ "/config/addressList";
        url += "?target=choice";
        J.PopupIFrame(url, "选择收货地址", 800, 600, "ifrm", "", "auto", "");
    }

    function saveBasicConfig(){
        //校验收货人信息
        var shipName = $.trim($("input[name=shipName]").val());
        var shipMobile = $.trim($("input[name=shipMobile]").val());
        var shipAddr = $.trim($("input[name=shipAddr]").val());
        if(shipName.length == 0){
            $.jBox.tip("请填写收货人");
            return;
        }
        if(shipMobile.length == 0){
            $.jBox.tip("请填写收货人联系方式")
            return;
        }
        if(shipAddr.length == 0){
            $.jBox.tip("请填写收货人地址");
            return;
        }
        //配送方式选择
        var sendMode = "0";
        if($("div[name=sendMode] span[class~=option_selected]").length == 1){
            sendMode = $("span[class~=option_selected]").attr("value");
        }else{
            $.jBox.tip("请选择配送方式");
            return;
        }
        //发票校验
        var taxType ;
        if($("div[name=invoiceInfo] span[class~=option_selected]").length == 1){
            taxType = $("div[name=invoiceInfo] span[class~=option_selected]").attr("value");
        }else{
            $.jBox.tip("请选择发票类型");
            return;
        }
        var taxTitle;
        var taxContent;
        var taxpayerCode;
        var bankName;
        var accountNo;
        var data = {
            'shipName':shipName,
            'shipMobile':shipMobile,
            'shipAddr':shipAddr,
            'sendModeCode':sendMode,
            'taxTypeCode':taxType
        };
        //普通发票校验
        if(taxType == "1"){
            taxTitle = $.trim($("#taxTitle").val());
            if(taxTitle.length == 0){
                $.jBox.tip("请输入发票抬头");
                return;
            }
            taxContent = $.trim($("#taxContent").val());
            if(taxContent.length == 0){
                $.jBox.tip("请输入发票内容");
            }
            data['taxTitle']=taxTitle;
            data['taxContent']=taxContent;
        }else if(taxType == '2'){
            taxTitle = $.trim($("#tax_taxTitle").val());
            if(taxTitle.length == 0){
                $.jBox.tip("请输入发票公司名称");
                return;
            }
            taxContent = $.trim($("#tax_taxContent").val());
            if(taxContent.length == 0){
                $.jBox.tip("请输入发票公司注册电话");
                return;
            }
            taxpayerCode = $.trim($("#tax_taxpayerCode").val());
            if(taxpayerCode.length == 0){
                $.jBox.tip("请输入纳税人识别码");
                return;
            }
            bankName = $.trim($("#tax_bankName").val());
            if(bankName.length == 0){
                $.jBox.tip("请输入开户银行名称");
            }
            accountNo = $.trim($("#tax_accountNo").val());
            if(accountNo.length == 0){
                $.jBox.tip("请输入开户银行账号");
            }
            data['taxTitle']=taxTitle;
            data['taxContent']=taxContent;
            data['taxpayerCode']=taxpayerCode;
            data['bankName']=bankName;
            data['accountNo']=accountNo;
        }
        //购物车商品信息
        var shoppingCartIds = "";
        $("table[class~=data-table] tr").each(function(){
            var value = $.trim($(this).attr("id"));
            if(value.length > 0){
                shoppingCartIds += value + ",";
            }
        });
        shoppingCartIds = shoppingCartIds.substring(0, shoppingCartIds.lastIndexOf(","));
        if(shoppingCartIds.length == 0){
            $.jBox.tip("请选择要采购的货品");
            return;
        }
        data['shoppingCartIds']=shoppingCartIds;
        //备注
        var authorComment = $.trim($("textarea[name=authorComment]").val());
        if(authorComment.length > 0 ){
            data['authorComment']=authorComment;
        }
        $.jBox.tip("正在保存...", "loading");
        $.ajax({
            type: "POST",
            url: basicUrl + "/addPurchase",
            data: data,
            dataType: "json",
            success: function (msg) {
                if (msg.code == 200) {
                    $.jBox.tip("新增采购单成功！",'success');
                    setTimeout(function(){
                        top.document.getElementById("content_left").contentDocument.getElementById("id_020201").getElementsByTagName("a")[0].click();
                    },500)
                } else {
                    $.jBox.tip(msg.msg, 'error');
                }
            }
        });
    }
    /*]]>*/
</script>
</body>
</html>