<!DOCTYPE html>
<!--
  ~ 版权所有:杭州火图科技有限公司
  ~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼在地图中查看
  ~
  ~ (c) Copyright Hangzhou Hot Technology Co., Ltd.
  ~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District
  ~ 2013-2016. All rights reserved.
  ~
  -->

<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>
        我的采购单列表
    </title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          data-th-href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <link href="../../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css"
          data-th-href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" data-th-href="@{/resource/css/settlements.css}"
          type="text/css"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.7.2.min.js"
            data-th-src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            data-th-src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            data-th-src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            data-th-src="@{/resource/3rdParty/js/admin.js}"></script>
    <script src="../../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            data-th-src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            data-th-src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>

</head>
<body marginwidth="0" marginheight="0">

<!--/*@thymesVar id="purchaseOrderSearcher" type="com.huotu.agento2o.service.searchable.PurchaseOrderSearcher"*/-->
<form method="get" action="/purchaseOrder/showPurchaseOrderList" th:action="@{/purchaseOrder/showPurchaseOrderList}" id="form1" th:object="${purchaseOrderSearcher}">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block">
            <div class="h">
                <span class="icon-sprite icon-magnifier"></span>
                <h3>采购单筛选</h3>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp">
                <div class="cnt">

                    <div class="search-bar">
                        <label class="first ">采购单号：</label>
                        <input name="pOrderId" type="text" th:value="*{POrderId}" id="pOrderId" class="input-small" style="width: 120px;"/>
                        &nbsp;
                        <label class="first ">商品名称：</label>
                        <input name="orderItemName" type="text" th:value="*{orderItemName}" id="orderItemName" class="input-small" style="width: 120px;"/>
                        <br/>
                        <br/>
                        <label class="first ">付款状态：</label>
                        <select name="payStatusCode" id="payStatusCode">
                            <option selected="selected"  value="-1"  th:selected="*{payStatusCode == -1}">==所有==</option>
                            <option th:each="payStatusEnum:${payStatusEnums}" th:value="${payStatusEnum.code}" th:text="${payStatusEnum.value}" th:selected="${payStatusEnum.code == purchaseOrderSearcher.payStatusCode}">未支付</option>
                        </select>
                        &nbsp;
                        <label class="first ">发货状态：</label>
                        <select name="shipStatusCode" id="shipStatusCode">
                            <option selected="selected" value="-1"  th:selected="*{shipStatusCode == -1}">==所有==</option>
                            <option th:each="shipStatusEnum:${shipStatusEnums}" th:value="${shipStatusEnum.code}" th:text="${shipStatusEnum.value}" th:selected="${shipStatusEnum.code == purchaseOrderSearcher.shipStatusCode}">未发货</option>
                        </select>
                        &nbsp;
                        <label class="first ">审核状态：</label>
                        <select name="statusCode" id="statusCode">
                            <option selected="selected" value="-1"  th:selected="*{statusCode == -1}">==所有==</option>
                            <option th:each="orderStatusEnum:${orderStatusEnums}" th:value="${orderStatusEnum.code}" th:text="${orderStatusEnum.value}" th:selected="${orderStatusEnum.code == purchaseOrderSearcher.statusCode}">待审核</option>
                        </select>
                        <br/>
                        <br/>

                        <label class="first ">下单时间：</label>
                        <input name="beginTime" type="text" id="beginTime" placeholder=" [开始日期]"
                               class="input-normal Wdate" th:value="*{beginTime}"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"/>
                        &nbsp;---&nbsp;
                        <input name="endTime" type="text" id="endTime" placeholder=" [结束日期]"
                               class="input-normal Wdate" th:value="*{endTime}"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'beginTime\')}'})"/>
                        <br/>
                        <br/>
                        <label class="first ">支付时间：</label>
                        <input name="beginPayTime" type="text" id="beginPayTime" th:value="*{beginPayTime}" placeholder=" [开始日期]"
                               class="input-normal Wdate"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"/>
                        &nbsp;---&nbsp;
                        <input name="endPayTime" type="text" id="endPayTime" th:value="*{endPayTime}" placeholder=" [结束日期]"
                               class="input-normal Wdate"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'beginPayTime\')}'})"/>

                        <label><a class="btn-lit btn-middle" id="search" href="javascript:searchOrder();"
                                  style="margin-bottom: 3px;"><span>搜索</span></a></label>
                        <label><a class="btn-lit btn-middle" id="searchAll" href="javascript:searchOrderAll();"
                                  style="margin-bottom: 3px;"><span>显示全部</span></a></label>
                        <br/>
                        <br/>
                        <label class="first ">导出采购单：</label>
                        第<input name="txtBeginPage" type="text" value="1" id="txtBeginPage"
                                style="height:15px;width:28px;"/>页
                        至 第<!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
                        <input name="txtEndPage" type="text" value="5" id="txtEndPage" th:value="${totalPages}" class="input-small OnlyNum"
                                  style="height:15px;width:28px;"/>页

                        <label>
                            <a id="A1" class="btn-lit btn-middle" style="margin-bottom: 3px;" href="javascript:exportHelper.showDialogV2();">
                                <span>导出主采购单</span>
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank10">
        </div>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>
                <h3 style="float: left; width: 144px;">采购单管理 </h3>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp">

                <div class="cnt">
                    <table class="data-table even1" width="100%" border="0"
                           cellspacing="0"
                           cellpadding="0">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">采购单号
                            </th>
                            <th scope="col">货品名称
                            </th>
                            <th scope="col">下单时间
                            </th>
                            <th scope="col">支付时间
                            </th>
                            <th scope="col">总额
                            </th>
                            <th scope="col">付款状态
                            </th>
                            <th scope="col">发货状态
                            </th>
                            <th scope="col">审核状态
                            </th>
                            <th scope="col" width="70px">操作
                            </th>
                        </tr>
                        <tbody>
                        <!--/*@thymesVar id="purchaseOrderList" type="java.util.List<com.huotu.agento2o.service.entity.purchase.AgentPurchaseOrder>"*/-->
                        <tr th:each="pOrder,pOrderStat:${purchaseOrderList}">
                            <td class="txt20 c" th:text="${pOrderStat.count}">
                                1
                            </td>
                            <td class="txt100">
                                <a href="javascript:void(0)" th:attr="pOrderId=${pOrder.POrderId}" onclick="showDetail(this)" title="查看详细" th:text="${pOrder.POrderId}"></a>
                                <span style="color: red" th:if="${pOrder.disabled}">（已取消）</span>
                            </td>
                            <td class="txt120" style="padding: 10px 0px">
                                <span style="width: 20%;float: left;">
                                    <img th:src="${pOrder.orderItemList.size() >0 and pOrder.orderItemList[0].picUri !=null ? pOrder.orderItemList[0].picUri : ''}"
                                        style="width:50px;height:50px;float:left;"
                                        th:styleappend="${pOrder.orderItemList.size() >0 and pOrder.orderItemList[0].picUri !=null ? 'margin-left: 5px;' :''}"/>
                                </span>
                                <span style="overflow: hidden;text-align: left; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical; width:60%; float:left;margin-top:10px;"
                                      data-th-text="${pOrder.orderItemList.size() >0 ? pOrder.orderItemList[0].name : ''}">商品名称</span>
                                <!--<span th:text="${orders.orderItems.size()}>0?${orders.orderItems[0].name}"></span>-->
                                <a style="margin-top:10px;margin-right: 5px;float:right;" th:if="${pOrder.orderItemList.size() > 1}"
                                   href="javascript:void(0)" th:attr="pOrderId=${pOrder.POrderId}" onclick="showDetail(this)" title="更多"> 更多...</a>
                            </td>
                            <td class="txt80 c" th:text="${#dates.format(pOrder.createTime,'yyyy-MM-dd HH:mm:ss')}">
                                2015/9/21 20:18:01
                            </td>
                            <td class="txt80 c">
                                                <span style='color:#ccc;'
                                                      th:if="${pOrder.payTime!=null and pOrder.payTime!=''}"
                                                      th:text="${#dates.format(pOrder.payTime,'yyyy-MM-dd HH:mm:ss')}">——无——</span>
                            </td>
                            <td class="txt40">￥
                                <span th:text="${pOrder.finalAmount}">100</span>
                            </td>
                            <td style="color:red;" class="txt40 c" th:text="${pOrder.payStatus != null ? pOrder.payStatus.value : ''}">
                                未支付
                            </td>
                            <td style="color:red;" class="txt40 c" th:text="${pOrder.shipStatus != null ? pOrder.shipStatus.value : ''}">
                                未发货
                            </td>
                            <td style="color:red;" class="txt40 c" th:text="${pOrder.status.value}">
                                待审核
                            </td>
                            <td class="txt80 c tail">
                                <div th:inline="text">
                                    <!--<span th:if="${orders.deliverable()}">
                                        <a href="javascript:void(0)" th:attr="orderId=''+${orders.orderId}" onclick="showConsignFlow(this)" id="btnConsignFlow" title="发货" th:if="${orders.deliverable()}">发货</a> |
                                    </span>-->
                                    <a href="javascript:void(0)" th:attr="pOrderId=''+${pOrder.POrderId}" onclick="showDetail(this)" title="查看详细">查看详细</a>
                                    <span  th:if="${pOrder.payabled()}"> | </span>
                                    <a th:if="${pOrder.payabled()}" href="javascript:void(0)" th:attr="pOrderId=''+${pOrder.POrderId}" onclick="payOrder(this)" title="支付">支付</a>
                                    <span  th:if="${pOrder.receivable()}"> | </span>
                                    <a th:if="${pOrder.receivable()}" href="javascript:void(0)" th:attr="pOrderId=''+${pOrder.POrderId}" onclick="receiveOrder(this)" title="确认收货">确认收货</a>
                                    <span  th:if="${pOrder.deletable()}"> | </span>
                                    <a th:if="${pOrder.deletable()}" href="javascript:void(0)" th:attr="pOrderId=''+${pOrder.POrderId}" onclick="deleteOrder(this)" title="取消">取消</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <script type="text/javascript" th:inline="javascript">
                    /*<![CDATA[*/
                    var pageSize = /*[[${pageSize}]]*/ '-1';
                    var pageIndex = /*[[${pageNo}]]*/ '-1';
                    var pageCount = /*[[${totalPages}]]*/ '-1';
                    var recordCount = /*[[${totalRecords}]]*/ '-1';
                    var formName = 'form1';
                    Pager.Output(formName, 'pageIndex', pageSize, pageIndex, pageCount, recordCount);
                    /*]]>*/
                </script>
            </div>
        </div>
    </div>
</form>
<script type="application/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var baseUrl = /*[[@{/purchaseOrder}]]*/ "/purchaseOrder";

    //查看详细
    function showDetail(obj) {
        var pOrderId = $(obj).attr("pOrderId");
        window.location.href = baseUrl + "/showPurchaseOrderDetail?pOrderId=" + pOrderId;
    }
    //取消采购单
    function deleteOrder(obj){
        $.jBox.confirm("确定要取消该采购单吗？","提示",function(v){
            if(v == 'ok'){
                var pOrderId = $(obj).attr("pOrderId");
                $.jBox.tip("正在取消...", "loading");
                $.ajax({
                    type: "POST",
                    url: baseUrl + "/deletePurchaseOrder",
                    data: {
                        pOrderId: pOrderId
                    },
                    dataType: "json",
                    success: function (msg) {
                        if (msg.code == 200) {
                            $.jBox.tip("取消采购单成功!",'success');
                            setTimeout(function(){
                                window.location.reload();
                            },500);
                        } else {
                            $.jBox.tip(msg.msg, 'error');
                        }
                    }
                })
            }
        })
    }
    //支付采购单
    function payOrder(obj){
        $.jBox.confirm("请确认已线下支付","提示",function(v){
            if(v == 'ok'){
                var pOrderId = $(obj).attr("pOrderId");
                $.jBox.tip("正在保存...", "loading");
                $.ajax({
                    type: "POST",
                    url: baseUrl + "/payPurchaseOrder",
                    data: {
                        pOrderId: pOrderId
                    },
                    dataType: "json",
                    success: function (msg) {
                        if (msg.code == 200) {
                            $.jBox.tip("支付成功!",'success');
                            setTimeout(function(){
                                window.location.reload();
                            },500);
                        } else {
                            $.jBox.tip(msg.msg, 'error');
                        }
                    }
                })
            }
        })
    }

    //确认收货
    function receiveOrder(obj){
        $.jBox.confirm("请确认已收货","提示",function(v){
            if(v == 'ok'){
                var pOrderId = $(obj).attr("pOrderId");
                $.jBox.tip("正在保存...", "loading");
                $.ajax({
                    type: "POST",
                    url: baseUrl + "/receive",
                    data: {
                        pOrderId: pOrderId
                    },
                    dataType: "json",
                    success: function (msg) {
                        if (msg.code == 200) {
                            $.jBox.tip("确认收货成功!",'success');
                            setTimeout(function(){
                                window.location.reload();
                            },500);
                        } else {
                            $.jBox.tip(msg.msg, 'error');
                        }
                    }
                })
            }
        })
    }


    //#region 导出助手
    var exportHelper = {};

    exportHelper.checkPage = function (txtBeginPage, txtEndPage) {
        var numberBug = pageCount;//总页数
        if (txtBeginPage == '' || txtEndPage == '') {
            return {flag: false, msg: '请输入正确的起止页码'};
        }
        var beginPage = parseInt(txtBeginPage);
        var endPage = parseInt(txtEndPage);
        if (endPage < beginPage) {
            return {flag: false, msg: '结束页不能小于起始页'};
        }
        if (endPage > numberBug) {
            return {flag: false, msg: '结束页不能大于总页数'};
        }
        var _maxPage = 500;
        if (endPage - beginPage >= _maxPage) {
            $('#txtEndPage').focus().select();
            return {flag: false, msg: '最多导出' + _maxPage + '页'};
        }
//            return {flag: true, msg: ''};
        return {flag: true};
    };

    exportHelper.showDialogV2 = function () {
        var txtBeginPage = $("#txtBeginPage").val();
        var txtEndPage = $("#txtEndPage").val();

        var chkResult = this.checkPage(txtBeginPage, txtEndPage);
        if (!chkResult.flag) {
            jBox.tip(chkResult.msg, 'info');
            return;
        }
        var pOrderId = $("input[name=pOrderId]").val();
        var orderItemName = $("input[name=orderItemName]").val();
        var payStatusCode = $("#payStatusCode").val();
        var shipStatusCode = $("#payStatusCode").val();
        var statusCode = $("#statusCode").val();
        var beginTime = $("#beginTime").val();
        var endTime = $("#endTime").val();
        var beginPayTime = $("#beginPayTime").val();
        var endPayTime = $("#endPayTime").val();

        var url = baseUrl + "/exportExcel";
        url += '?rnd=' + Math.random()
                + '&pOrderId=' + pOrderId
                + '&orderItemName=' + orderItemName
                + '&payStatusCode=' + payStatusCode
                + '&shipStatusCode=' + shipStatusCode
                + '&statusCode=' + statusCode
                + '&beginTime=' + beginTime
                + '&endTime=' + endTime
                + '&beginPayTime=' + beginPayTime
                + '&endPayTime=' + endPayTime
                + '&beginPage=' + txtBeginPage
                + '&endPage=' + txtEndPage;
        window.location.href = url;
    };

    function searchOrder() {
        $("input[name=pageIndex]").val(1);
        $('#form1').submit();
    }
    function searchOrderAll() {
        window.location.href = /*[[@{/purchaseOrder/showPurchaseOrderList}]]*/ "/purchaseOrder/showPurchaseOrderList";
    }
    /*]]>*/
</script>
</body>
</html>